a {
    text-decoration: none;
}

.slds-spinner_container {
    position: fixed;
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    background: #e1f4fd;
}

.hideLoading{
    display: none;
}

.showLoading{
    display: block;
}

/* @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
} */

input::placeholder {
    font-size: 1.8rem;
    font-family: "helvethaicaX-light";
}

.secQuestion h1 + h1{
    color: #007abc;
    font-family: "helvethaicaX-bold", sans-serif;
}

/* @media (min-width: 251px) and (max-width: 319px) {
  .displayPDF{
      display: none;
  }

  html body {

      overflow: auto !important;
      height: auto !important;
  }
  
  html body .topbar {
      position: relative !important;
      display: none !important;
  }
  
  html .top-nav, html .sub-nav {
      display: none;
  }
  
  html .main-nav img {
      float: none !important;
      margin: 0 auto;
  }
  
  html .main-nav nav {
      display: none;
  }
  
  html section.questions, html section.parallax, html section.main-content, html section.prod-details, html section.results, html section.passport {
      display: none !important;
  }
  
  html section.too-small {
      display: block;
      margin-top: 100px;
  }
  
  html section.too-small .col {
      padding: 0;
      height: 20px;
      margin-top: 180px;
  }
  
  html section.too-small .col:first-child {
      border-left: 11px solid black;
  }
  
  html section.too-small .col hr {
      border-top: 11px solid black;
      margin-top: 15px;
  }
  
  html section.too-small .col-8 {
      padding: 0;
  }
  
  html section.too-small .col-8 + .col {
      border-right: 11px solid black;
  }
  
  html section.too-small .col-8 .box {
      width: 100%;
      height: auto;
      display: block;
      border: 11px solid black;
      border-radius: 10px;
      text-align: center;
      padding: 50px 10px;
      background: #007abc;
      font-family: "helvethaicaX-bold", sans-serif;
      color: white;
  }
  
  html section.too-small .col-8 .dizzy {
      display: none;
  }
} */

/* @media (min-width: 1px) and (max-width: 250px) {
  .displayPDF{
      display: none;
  }
  
  body {

      overflow: auto !important;
      height: auto !important;
  }
  
  body .topbar {
      position: relative !important;
      display: none !important;
  }
  
  .top-nav, .sub-nav {
      display: none;
  }
  
  .main-nav img {
      float: none !important;
      margin: 0 auto;
  }
  
  .main-nav nav {
      display: none;
  }
  
  section.questions, section.parallax, section.main-content, section.prod-details, section.results, section.passport {
      display: none !important;
  }
  
  section.too-small {
      display: block !important;
      margin-top: 100px;
  }
  
  section.too-small .col {
      padding: 0;
      height: 20px;
      margin-top: 180px;
  }
  
  section.too-small .col:first-child {
      border-left: 11px solid black;
  }
  
  section.too-small .col hr {
      border-top: 11px solid black;
      margin-top: 15px;
  }
  
  section.too-small .col-8 {
      padding: 0;
  }
  
  section.too-small .col-8 + .col {
      border-right: 11px solid black;
  }
  
  section.too-small .col-8 .box {
      width: 100%;
      height: auto;
      display: block;
      border: 11px solid black;
      border-radius: 10px;
      text-align: center;
      padding: 50px 10px;
      background: #007abc;
      font-family: "helvethaicaX-bold", sans-serif;
      color: white;
  }
  
  section.too-small .col-8 .dizzy {
      display: block;
  }
  
  section.too-small .col-8 .frown {
      display: none;
  }
} */

.bg .modal .modal-body {
  text-align: center;
  height: auto;
}

/* @media only screen and (min-device-width: 480px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  main, .topbar {
      display: block !important;
  }

  .unsupported {
      display: none !important;
  }
} */
/* Landscape */
/* @media only screen and (min-device-width: 480px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  main, .topbar, .unsupported {
      display: none !important;
  }

  .displayPDF{
      display: none;
  }

  .orientation {
      display: block !important;
  }
} */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Landscape */
/* @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  main, .topbar, .unsupported {
      display: none !important;
  }

  .displayPDF{
      display: none;
  }

  .orientation {
      display: block !important;
  }
} */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Landscape */
/* @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  main, .topbar, .unsupported {
      display: none !important;
  }

  .displayPDF{
      display: none;
  }

  .orientation {
      display: block !important;
  }
} */
/* ----------- iPhone X ----------- */
/* Landscape */
/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  main, .topbar, .unsupported {
      display: none !important;
  }

  .displayPDF{
      display: none;
  }

  .orientation {
      display: block !important;
  }
} */
/* ----------- Other Devices ----------- */
/* @media (max-height: 480px) and (orientation: portrait) {
  main, .topbar, .orientation, .horizon, .front, .animation {
      display: none !important;
  }

  .displayPDF{
      display: none;
  }

  .unsupported {
      display: block !important;
  }
}
@media (max-height: 499px) and (orientation: landscape) {
  main, .topbar, .unsupported, .horizon, .front, .animation {
      display: none !important;
  }

  .displayPDF{
      display: none;
  }

  .orientation {
      display: block !important;
  }
} */

/* header .unsupported, header .orientation {
  display: none;
} */

header .unsupported img, header .orientation img {
  margin: 30px 110px 0;
}

header .unsupported h2, header .orientation h2 {
  line-height: 2rem;
  font-weight: bold !important;
  padding: 0 30px;
  position: relative;
  top: 20px;
  text-align: center;
  color: #666;
}

@media (max-width: 319px){
    .bg{
        position: fixed;
        top: 0;
        left: 0;
        right: 0; 
        background-color: white;
    }
}