<template>
    <span class={loadingDisplay}>
        <div id="spinnerDiv" class="demo-only demo--inverse" >
            <div class="slds-spinner_container">
                <div role="status" class="slds-spinner slds-spinner_medium">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
    </span>
    <div class={bgDisplay}>
        <header>
            <div class={topbar}>
                <a href="javascript:void(0)" class="float-right cta hvr-fade" style="opacity: 0; cursor:default;" id="exit"><h2>Exit</h2></a>
                <img src={imageResource.logo} class="logo" />
                <a href="javascript:void(0)" class="float-left cta hvr-fade" style="opacity: 0; cursor:default;" id="previous"><h2>Back</h2></a>
            </div>
            <div class="orientation">
                <img src={imageResource.orientation} />
                <h2 style="z-index: 9999 !important;">
                    Sorry! The page can't be displayed on your monitor or device.<br>Please try rotating your device to portrait mode, or enlarge your browser window to continue.
                </h2>
            </div>
            <div class="unsupported">
                <img src={imageResource.notSupport} />
                <h2>
                    Your device is not supported, please upgrade your device if you want to take this journey with us!
                </h2>
            </div>
            <div class={notSupportBrowser} style="z-index: 9999 !important; padding:20px;">
                <!-- <img src={imageResource.notSupport} /> -->
                <h2 style="font-weight: bold !important;">
                    ในขณะนี้เบราว์เซอร์ของคุณไม่รองรับ <br>กรุณาเปิดเบราว์เซอร์ที่รองรับ
                </h2>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="chrome"></div>
                    </div>
                    <div class="col-auto">
                        <div class="firefox"></div>
                    </div>
                    <div class="col-auto">
                        <div class="safari"></div>
                    </div>
                </div>
            </div>
        </header>
        <main class={displayAll}>
            <!-- Section Not Support -->
            <section class="too-small">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                        <div class="col-8">
                            <div class="frown text-center">
                                <img src={imageResource.hurt} class="img-fluid" />
                            </div>
                            <div class="dizzy text-center">
                                <img src={imageResource.dead} class="img-fluid" />
                            </div>
                            <div class="box">
                                <h1>
                                    Your device is not supported, please upgrade your device if you want to take this journey with us!
                                    <br/>
                                        <i class="fas fa-mobile-alt">
                                    </i>
                                </h1>
                            </div>
                        </div>
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                </div>
            </section>
            <section class="questions" style="overflow-y: scroll;">
                <div class="intro" style="padding-bottom: 15rem;">
                    <h1 class="display-4">พบกับประสบการณ์ค้นหาตัวตนของคุณ</h1>
                    <h1 class="display-4">Find What's <b>MORE</b> to You</h1>
                    
                    <div class="next hvr-fade">
                        <a href="javascript:void(0)" name="start" onclick={redirectNextpage} id="start" data-id="Start" class="hvr-pop hvr-fade">
                            <h1 class="display-4">
                                เริ่ม
                            </h1>
                        </a>
                    </div>
                    <!-- <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="chrome"></div>
                        </div>
                        <div class="col-auto">
                            <div class="firefox"></div>
                        </div>
                        <div class="col-auto">
                            <div class="safari"></div>
                        </div>
                    </div> -->
                    <!-- <div>Hello : {browser}</div> -->
                </div>
            </section>
            <section class="parallax">
                <div class="horizon scroll">
                    <img src={imageResource.horizon} alt="" style="max-width: unset; left: -1000px;"/>
                </div>
                <div class="middle scroll">
                    <img src={imageResource.middle} alt="" style="max-width: unset;" />
                </div>
                <div class="front scroll">
                    <img src={imageResource.front} alt="" style="max-width: unset; left: -1000px;"/>
                </div>
            </section>
        </main>
    </div>
</template>