/* main section.questions .sex .btn-group .col-md-3 div, 
main section.questions .name .btn-group .col-md-3 div, 
main section.questions .children .btn-group .col-md-3 div, 
main section.questions .job .btn-group .col-md-3 div, 
main section.questions .age .btn-group .col-md-3 div, 
main section.questions .income-mo .btn-group .col-md-3 div, 
main section.questions .income-yr .btn-group .col-md-3 div, 
main section.questions .concentrate .btn-group .col-md-3 div, 
main section.questions .mgmt .btn-group .col-md-3 div, 
main section.questions .info .btn-group .col-md-3 div, 
main section.questions .duration .btn-group .col-md-3 div, 
main section.questions .cat .btn-group .col-md-3 div, 
main section.questions .persona .btn-group .col-md-3 div, 
main section.questions .products .btn-group .col-md-3 div {
    color: #333;
    border: 5px solid #eee;
    background: white url(https://fna-tmbbankpws.cs58.force.com/fin/sfc/servlet.shepherd/version/download/0680l000001YASkAAO) no-repeat 10px center;
    padding: 30px;
    border-radius: 20px;
    font-size: 2rem;
    margin: 10px;
    width: 100%;
    white-space: normal;
}

main section.questions .sex .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active, 
main section.questions .name .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active, 
main section.questions .children .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active, 
main section.questions .job .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active, 
main section.questions .age .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active, 
main section.questions .income-mo .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active, 
main section.questions .income-yr .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active, 
main section.questions .concentrate .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active, 
main section.questions .mgmt .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active, 
main section.questions .info .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active, 
main section.questions .duration .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active, 
main section.questions .cat .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active, 
main section.questions .persona .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active, 
main section.questions .products .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active {
    background: #007abc url(https://fna-tmbbankpws.cs58.force.com/fin/sfc/servlet.shepherd/version/download/0680l000001YASpAAO) no-repeat 10px center !important;
    border: 5px solid white;
    font-family: "helvethaicaX-bold", sans-serif;
    color: white;
}

main section.questions .sex .btn-group .col-md-3 div:hover, 
main section.questions .name .btn-group .col-md-3 div:hover, 
main section.questions .children .btn-group .col-md-3 div:hover, 
main section.questions .job .btn-group .col-md-3 div:hover, 
main section.questions .age .btn-group .col-md-3 div:hover, 
main section.questions .income-mo .btn-group .col-md-3 div:hover, 
main section.questions .income-yr .btn-group .col-md-3 div:hover, 
main section.questions .concentrate .btn-group .col-md-3 div:hover, 
main section.questions .mgmt .btn-group .col-md-3 div:hover, 
main section.questions .info .btn-group .col-md-3 div:hover, 
main section.questions .duration .btn-group .col-md-3 div:hover, 
main section.questions .cat .btn-group .col-md-3 div:hover, 
main section.questions .persona .btn-group .col-md-3 div:hover, 
main section.questions .products .btn-group .col-md-3 div:hover {
    text-decoration: none;
    background: #007abc url(https://fna-tmbbankpws.cs58.force.com/fin/sfc/servlet.shepherd/version/download/0680l000001YASfAAO) no-repeat 10px center !important;
    color: white;
    font-family: "helvethaicaX-bold", sans-serif;
    border: 5px solid white;
} */

:focus{
    outline: 0;
}

/* .main section.questions {
    z-index: 101 !important;
} */

/* @media (max-width: 575px){ */
    /* .iconCancel{
        text-align:center;
    }
    .topbar a {
        border: none !important;
        background: white;
    } */
    /* .cta {
        padding: 8px 8px;
    } */
/* } */

/* @media (min-width: 576px) and (max-width: 1199px){ */
    /* .iconCancel{
        text-align:center;
        margin-bottom: 6px !important;
    } */
/* } */

/* @media (max-width: 767px) and (min-width: 320px){
    .textMuti {
        font-size: 1.5rem;
    } */
    /* main section.questions .sex .btn-group .col-md-3 div:before, main section.questions .name .btn-group .col-md-3 div:before, main section.questions .children .btn-group .col-md-3 div:before, main section.questions .job .btn-group .col-md-3 div:before, main section.questions .age .btn-group .col-md-3 div:before, main section.questions .income-mo .btn-group .col-md-3 div:before, main section.questions .income-yr .btn-group .col-md-3 div:before, main section.questions .concentrate .btn-group .col-md-3 div:before, main section.questions .mgmt .btn-group .col-md-3 div:before, main section.questions .info .btn-group .col-md-3 div:before, main section.questions .duration .btn-group .col-md-3 div:before, main section.questions .cat .btn-group .col-md-3 div:before, main section.questions .persona .btn-group .col-md-3 div:before, main section.questions .products .btn-group .col-md-3 div:before {
        font-family: "Material Icons";
        content: ""; 
        vertical-align: sub;
        font-size: 2rem;
        margin-top: -20px;
        display: block;
        position: absolute;
        top: 50%;
        height: 30%;
    } */
    /* main section.questions .sex .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before, 
    main section.questions .name .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before, 
    main section.questions .children .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before, 
    main section.questions .job .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before, 
    main section.questions .age .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before, 
    main section.questions .income-mo .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before, 
    main section.questions .income-yr .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before, 
    main section.questions .concentrate .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before, 
    main section.questions .mgmt .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before, 
    main section.questions .info .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before, 
    main section.questions .duration .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before, 
    main section.questions .cat .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before, 
    main section.questions .persona .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before, 
    main section.questions .products .btn-group .col-md-3 div.btn-primary:not(:disabled):not(.disabled).active:before {
        font-family: "Material Icons";
        content: ""; 
        vertical-align: sub;
        font-size: 2rem;
        margin-right: 10px;
        display: block;
        float: left;
      } */
    
        /* main section.questions .sex .btn-group .col-md-3 div:hover, 
        main section.questions .name .btn-group .col-md-3 div:hover, 
        main section.questions .children .btn-group .col-md-3 div:hover, 
        main section.questions .job .btn-group .col-md-3 div:hover, 
        main section.questions .age .btn-group .col-md-3 div:hover, 
        main section.questions .income-mo .btn-group .col-md-3 div:hover, 
        main section.questions .income-yr .btn-group .col-md-3 div:hover, 
        main section.questions .concentrate .btn-group .col-md-3 div:hover, 
        main section.questions .mgmt .btn-group .col-md-3 div:hover, 
        main section.questions .info .btn-group .col-md-3 div:hover, 
        main section.questions .duration .btn-group .col-md-3 div:hover, 
        main section.questions .cat .btn-group .col-md-3 div:hover, 
        main section.questions .persona .btn-group .col-md-3 div:hover, 
        main section.questions .products .btn-group .col-md-3 div:hover {
            color: #333;
            border: 5px solid #eee;
            background: white url(https://fna-tmbbankpws.cs58.force.com/fin/sfc/servlet.shepherd/version/download/0680l000001YASkAAO) no-repeat 10px center;
            padding: 30px;
            border-radius: 20px;
            font-size: 2rem;
            margin: 10px;
            width: 100%;
            white-space: normal;
        } */
/* } */

.pb-question{
    padding-bottom: 15rem !important;
}

@media (min-width: 1200px){
    /* .iconCancel{
        text-align:center;
        margin-bottom: 8px !important;
    } */

    .btn-primary.focus, .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
        transform: none;
    }
}

@media (max-width: 1290px) {
    main section.questions .animation {
        position: fixed;
        width: 80%;
        bottom: 5px;
        z-index: -100;
        left: 10%;
        text-align: left;
        transform: scale(0.8);
    }

    /* main section.questions a:hover, main section.questions .job a:hover,
    main section.questions .sex a:hover,
    main section.questions .info .row .col-md-3 a:hover,
    main section.questions .mgmt .row .col-md-6 a:hover{
        color: #333;
        border: 5px solid #eee;
        background: white !important;
        padding: 30px;
        border-radius: 20px;
        font-size: 2.5rem;
        margin: 10px;
        width: 100%;
        font-family: "helvethaicaX-thin", sans-serif;
    }

    main section.questions .concentrate .btn-group .col-md-3 div:not(.active):hover{
        color: #333;
        border: 5px solid #eee;
        background: white url(https://fna-tmbbankpws.cs58.force.com/fin/sfc/servlet.shepherd/version/download/0680l000001YASkAAO) no-repeat 10px center !important;
        padding: 30px;
        border-radius: 20px;
        font-size: 2rem;
        margin: 10px;
        width: 100%;
        font-family: "helvethaicaX-thin", sans-serif;
    }

    main section.questions .sex .btn-group .col-md-3 div:hover, 
    main section.questions .name .btn-group .col-md-3 div:hover, 
    main section.questions .children .btn-group .col-md-3 div:hover, 
    main section.questions .job .btn-group .col-md-3 div:hover, 
    main section.questions .age .btn-group .col-md-3 div:hover, 
    main section.questions .income-mo .btn-group .col-md-3 div:hover, 
    main section.questions .income-yr .btn-group .col-md-3 div:hover, 
    main section.questions .concentrate .btn-group .col-md-3 div:hover, 
    main section.questions .mgmt .btn-group .col-md-3 div:hover, 
    main section.questions .info .btn-group .col-md-3 div:hover, 
    main section.questions .duration .btn-group .col-md-3 div:hover, 
    main section.questions .cat .btn-group .col-md-3 div:hover, 
    main section.questions .persona .btn-group .col-md-3 div:hover, 
    main section.questions .products .btn-group .col-md-3 div:hover {
        color: #333;
        border: 5px solid #eee;
        background: white url(https://fna-tmbbankpws.cs58.force.com/fin/sfc/servlet.shepherd/version/download/0680l000001YASkAAO) no-repeat 10px center;
        padding: 30px;
        border-radius: 20px;
        font-size: 2rem;
        margin: 10px;
        width: 100%;
        white-space: normal;
    }

    .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
        -webkit-transform: none;
        transform: none;
    } */

    main section.questions .job a:hover {
        text-decoration: none;
        /* background-color: #007abc; */
        background-color: white !important;
        /* color: white; */
        color: #333333;
        font-family: "helvethaicaX-thin", sans-serif !important;
        border: 5px solid #eee;
    }

    main section.questions .sex .row .col-md-3 a:hover, 
    main section.questions .sex .row .col-md-6 a:hover, 
    main section.questions .name .row .col-md-3 a:hover, 
    main section.questions .name .row .col-md-6 a:hover, 
    main section.questions .children .row .col-md-3 a:hover, 
    main section.questions .children .row .col-md-6 a:hover, 
    main section.questions .job .row .col-md-3 a:hover, 
    main section.questions .job .row .col-md-6 a:hover, 
    main section.questions .age .row .col-md-3 a:hover, 
    main section.questions .age .row .col-md-6 a:hover, 
    main section.questions .income-mo .row .col-md-3 a:hover, 
    main section.questions .income-mo .row .col-md-6 a:hover, 
    main section.questions .income-yr .row .col-md-3 a:hover, 
    main section.questions .income-yr .row .col-md-6 a:hover, 
    main section.questions .concentrate .row .col-md-3 a:hover, 
    main section.questions .concentrate .row .col-md-6 a:hover, 
    main section.questions .mgmt .row .col-md-3 a:hover, 
    main section.questions .mgmt .row .col-md-6 a:hover, 
    main section.questions .info .row .col-md-3 a:hover, 
    main section.questions .info .row .col-md-6 a:hover, 
    main section.questions .duration .row .col-md-3 a:hover, 
    main section.questions .duration .row .col-md-6 a:hover, 
    main section.questions .cat .row .col-md-3 a:hover, 
    main section.questions .cat .row .col-md-6 a:hover, 
    main section.questions .persona .row .col-md-3 a:hover, 
    main section.questions .persona .row .col-md-6 a:hover, 
    main section.questions .products .row .col-md-3 a:hover, 
    main section.questions .products .row .col-md-6 a:hover {
        text-decoration: none;
        /* background-color: #007abc; */
        background-color: white !important;
        color: #333333 !important;
        font-family: "helvethaicaX-thin", sans-serif !important;
        border: 5px solid #eee;
    }
}

@media (max-width: 991px) and (min-width: 768px){
    .questions .job a img {
        margin-top: -2rem;
    }
    .questions .job a h2 {
        /* padding-top: 0px !important;
        line-height: 0.9 !important; */
        /* padding-top: 0rem!important; */
        font-size: 1.7rem !important;
    }
    main section.questions .job a {
        width: 40% !important;
        /* padding: 0 10px !important; */
        /* margin: 0 !important; */
    }
    main section.questions .job a h2 {
        padding-top: 0px !important;
        margin-top: -0.2rem !important;
    }
}

@media (max-width: 991px){
    .parallax .horizon img, .parallax .front img{
        left: -2580px;
    }
}

a {
    text-decoration: none;
}

.slds-spinner_container {
    position: fixed;
}

.contentQuestion{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.hideLoading, .hide{
    display: none;
}

.showLoading{
    display: block;
}


header .topbar {
    background: rgb(225, 244, 253);
    /* z-index: 1000; */
}

input::placeholder {
    font-size: 1.8rem;
    font-family: "helvethaicaX-light";
}

.secQuestion h1 + h1{
    color: #007abc;
    font-family: "helvethaicaX-bold", sans-serif;
}

/* header .topbar{
    left: 0;
    right: 0;
} */

.inputInvalid {
    background: rgb(248, 215, 218);
}

body {
    height: auto !important;
}

main section.questions .info .row .col-md-3 a.active, 
main section.questions .sex .row .col-md-3 a.active, 
main section.questions .job a.active, 
main section.questions .mgmt .row .col-md-6 a.active{
    text-decoration: none !important;
    background-color: #007abc !important;
    color: white !important;
    font-family: "helvethaicaX-bold", sans-serif !important;
    border: 5px solid white !important;
}

.animation, .middle.scroll , .horizon.scroll, .front.scroll{
    -webkit-transition: margin-left 1s;
    transition: margin-left 1s;
}

.fixedTabletUnFocus{
    display: block;
    transition: margin-top 0.3s ease 0s;
    transition-property: margin-top;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    margin-top: 0rem;
}

.fixedTabletFocus{
    display: block;
    transition: margin-top 0.3s ease 0s;
    transition-property: margin-top;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    margin-top: -5rem;
}

.hideOpacityFocus{
    opacity: 0;
    display: block;
    transition: opacity 0.3s ease 0s;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.hideOpacityUnFocus{
    opacity: 1;
    display: block;
    transition: opacity 0.3s ease 0s;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.imgAvatarFocus{
    width: 100px !important;  
    height: 100px !important;
}

@media (max-width: 767px) and (min-width: 350px){
    .fixedTabletUnFocus{
        display: block;
        transition: margin-top 0.3s ease 0s;
        transition-property: margin-top;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
        margin-top: 0rem;
    }
    
    .fixedTabletFocus{
        display: block;
        transition: margin-top 0.3s ease 0s;
        transition-property: margin-top;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
        margin-top: 0rem;
    }

    .hideOpacityFocus{
        opacity: 1;
        display: block;
        transition: opacity 0.3s ease 0s;
        transition-property: opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }
    
    .hideOpacityUnFocus{
        opacity: 1;
        display: block;
        transition: opacity 0.3s ease 0s;
        transition-property: opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }
}

@media (max-width: 360px) and (min-width: 351px){
    .fixedTabletUnFocus{
        display: block;
        transition: margin-top 0.3s ease 0s;
        transition-property: margin-top;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
        margin-top: 0rem;
    }
    
    .fixedTabletFocus{
        display: block;
        transition: margin-top 0.3s ease 0s;
        transition-property: margin-top;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
        margin-top: -4rem;
    }
    
    .hideOpacityFocus{
        opacity: 0;
        display: block;
        transition: opacity 0.3s ease 0s;
        transition-property: opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }
    
    .hideOpacityUnFocus{
        opacity: 1;
        display: block;
        transition: opacity 0.3s ease 0s;
        transition-property: opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }
    
    .imgAvatarFocus{
        width: 80px !important;  
        height: 80px !important;
    }
}