<apex:page standardController="Account" sidebar="false" standardstylesheets="true" extensions="AccountUwCollateralCtrl">
<apex:includeScript value="/support/console/34.0/integration.js"/>
<apex:includeScript value="{!$Resource.SFScript}"  />  
    <script type="text/javascript">
	    function go_detail(a,b)
	    {
	        //alert(a);
	        if (sforce.console.isInConsole())
	        {
	            sforce.console.openPrimaryTab(null, '../'+a, true, b, null, a);
	        }else{
	            //window.parent.location.href='../'+a;
	            window.open('../'+a);
	        }
	    }
    </script>
    <style>
        .mainTitle{font-size: 1.1em;}
    </style>

	<apex:form >
		<apex:pageBlock id="Collateral">   
	        <!-- <h3 class="mainTitle" style="float:left;padding-right:12%;">&nbsp;UW Collateral Data</h3> -->
	        <apex:pageblockTable value="{!listCollateralDetail}" var="c">
	        	<apex:column headerValue="Collateral No.">
	                <apex:outputPanel onclick="go_detail('{!c.Collateral__c}','{!c.Collateral__r.Name}')" style="cursor:pointer;text-decoration:underline;">
	                    <apex:outputText >{!c.Collateral__r.Name}</apex:outputText>
	                </apex:outputPanel>
	            </apex:column>
	            <apex:column headerValue="Collateral No">
	                <apex:outputPanel onclick="go_detail('{!c.Id}','{!c.Collateral_No__c}')" style="cursor:pointer;text-decoration:underline;">
	                    <apex:outputText >{!c.Collateral_No__c}</apex:outputText>
	                </apex:outputPanel>
	            </apex:column>
	            <apex:column headerValue="Collateral Code">
	                <apex:outputField value="{!c.Collateral_Code__c}"/>
	            </apex:column>
	            <apex:column headerValue="Collateral Type">
	                <apex:outputField value="{!c.Collateral_Type__c}"/>
	            </apex:column>
	            <apex:column headerValue="Reference">
	                <apex:outputField value="{!c.Reference__c}"/>
	            </apex:column>
	            <apex:column headerValue="Pledge Value">
	                <apex:outputField value="{!c.Pledge_Value__c}"/>
	            </apex:column>
	            <apex:column headerValue="Appraisal Value">
	                <apex:outputField value="{!c.Appraisal_Value__c}"/>
	            </apex:column>
	            <apex:column headerValue="Appraisal Date">
	                <apex:outputField value="{!c.Appraisal_Date__c}"/>
	            </apex:column>
	            <apex:column headerValue="Collateral Owner">
	                <apex:outputField value="{!c.Collateral_Owner__c}"/>
	            </apex:column>
	            <apex:column headerValue="Collateral Joint">
	                <apex:outputField value="{!c.Collateral_Joint__c}"/>
	            </apex:column>
	            <apex:column headerValue="Related BOT-CUST-ID">
	                <apex:outputField value="{!c.Collateral_Joint_BOT__c}"/>
	            </apex:column>
	            <apex:column headerValue="Data As of">
	                <apex:outputField value="{!c.Data_As_of__c}"/>
	            </apex:column>
	        </apex:pageblockTable>
	        
	        <div style="height:10px"></div>
	        
	        <div style="width:100%;text-align:right">
	            <apex:commandLink reRender="Collateral" value="Previous" action="{!previousCollatPage}"/>
	            &nbsp;&nbsp;
	            <apex:commandLink reRender="Collateral" value="Next" action="{!nextCollatPage}"/>
	            &nbsp;&nbsp;
	            {!currentCollatPage} / {!totalCollatPage}
	        </div>
	    </apex:pageBlock>
	</apex:form>
</apex:page>