<apex:page controller="AccountPlanCompletionEx"
           doctype="html-5.0" showchat="false" showheader="false" sidebar="false"
           applybodytag="false" applyhtmltag="true" standardstylesheets="true">
    <head>
        <title>Account Plan Mandatory</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Keattisak Chinburarat" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />


        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}" />
        <style>
            pre code {
                background: transparent;
            }
        </style>
        <!--[if lt IE 9]><script src="../dist/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <apex:includeScript value="{!$Resource.AccountPlan_HTML5shiv}"/>
          <apex:includeScript value="{!$Resource.AccountPlan_Respond}"/>
        <![endif]-->
        <apex:stylesheet value="{!URLFOR($Resource.AccountPlanMaster)}" />
        <style>
            .outputText {
                padding-top: 7px;
            }

            .outputQuestionnaireText {
                width: 15%;
            }

            .bootstrap-sf1 .form-control-ex-30 {
                width: 30px !important;
            }

            <!--
            #tabContainer {
                display: none;
            }
            -->
        </style>
    </head>
    <body>
        <div class="bootstrap-sf1 ">
            <div id="responseErrors"></div>
            <apex:form styleclass="form-horizontal">
                <apex:pageblock id="pgBlock">
                    <legend>Mandatory Field Conditions</legend>
                    <div class="col-lg-3 col-md-12 col-sm-12">

                        <apex:variable var="WalletEnteredFields" value="{!Acctplancompletion.Step_3_1_Entered_fields__c
                                                                      +Acctplancompletion.Step_3_2_Entered_fields__c
                                                                      +Acctplancompletion.Step_3_3_Entered_fields__c
                                                                      +Acctplancompletion.Step_3_4_Entered_fields__c}" />
                        <apex:variable var="WalletRequiredFields" value="{!Acctplancompletion.Step_3_1_Required_fields__c
                                                                     +Acctplancompletion.Step_3_2_Required_fields__c
                                                                     +Acctplancompletion.Step_3_3_Required_fields__c
                                                                     +Acctplancompletion.Step_3_4_Required_fields__c}" />
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>

                                    <th class="text-left">Step</th>
                                    <th class="text-center">% Completion</th>
                                    <th class="text-right">No. of Captured Fields</th>
                                    <th class="text-right">No. of Required Fields</th>
                                </tr>
                                <tr style="display:{!if(companyprofile.AcctPlanGroup__c==null,'none','grid')};">
                                    <th class="text-left">Step 1 - Group Company</th>
                                    <td class="text-center {!StyleClass['Step 1']} ">{!Acctplancompletion.Step_1_Percentage__c}%</td>
                                    <td class="text-right ">{!Acctplancompletion.Step_1_Entered_Fields__c}</td>
                                    <td class="text-right  ">{!Acctplancompletion.Step_1_Required_fields__c}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Step 2 - Customer Profile</th>
                                    <td class="text-center {!StyleClass['Step 2']} ">{!Acctplancompletion.Step_2_Percentage__c}%</td>
                                    <td class="text-right  ">{!Acctplancompletion.Step_2_Entered_Fields__c}</td>
                                    <td class="text-right  ">{!Acctplancompletion.Step_2_Required_Fields__c}</td>
                                </tr>
                                <tr style="display:{!if(isMiniView,'none','grid')};">
                                    <th class="text-left">Step 3 - Wallet by Domain</th>
                                    <td class="text-center {!StyleClass['Step 3']} ">{!Acctplancompletion.Step_3_Percentage__c}%</td>
                                    <td class="text-right  ">{!WalletEnteredFields}</td>
                                    <td class="text-right ">{!WalletRequiredFields}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Step 4 - Product Strategy</th>
                                    <td class="text-center {!StyleClass['Step 4']} ">{!Acctplancompletion.Step_4_Percentage__c}%</td>
                                    <td class="text-right  ">{!Acctplancompletion.Step_4_Entered_Fields__c}</td>
                                    <td class="text-right ">{!Acctplancompletion.Step_4_Required_Fields__c}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Step 5 - Decision Map Action Plan</th>
                                    <td class="text-center {!StyleClass['Step 5']} ">{!Acctplancompletion.Step_5_Percentage__c}%</td>
                                    <td class="text-right ">{!Acctplancompletion.Step_5_Entered_Fields__c}</td>
                                    <td class="text-right">{!Acctplancompletion.Step_5_Required_Fields__c}</td>
                                </tr>
                            </thead>
                        </table>
                    </div>



                    <div style="margin-top:30px;">

                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th class="text-left">No.</th>
                                    <th class="text-left">Step</th>
                                    <th class="text-left">Section </th>
                                    <th class="text-left">Required Field</th>
                                    <th class="text-left">Condition</th>
                                </tr>
                            </thead>
                            <tbody>

                                <apex:repeat value="{!MandatoryIndexList}" var="index">
                                    <apex:variable var="mandawrapper" value="{!MandatoryWrapperMap[index]}" />
                                    <apex:outputpanel rendered="{!if(companyprofile.AcctPlanGroup__c==null && mandawrapper.mandatory.Domain__c =='Step 1 Group Company','false','true')}">
                                        <tr>
                                            <th class="text-left ">{!mandawrapper.mandatory.SEQ__C }</th>
                                            <th class="text-left" style="background-color:{!mandawrapper.DomainStyle};">
                                                <div style="display:{!if(mandawrapper.isfirstcolumn,'block','none')}">
                                                    {!mandawrapper.mandatory.Domain__c }
                                                </div>
                                            </th>
                                            <td class="text-left  ">{!mandawrapper.mandatory.Section__c }</td>
                                            <td class="text-left ">{!mandawrapper.mandatory.Required_Field__c }</td>
                                            <td class="text-left  {!mandawrapper.styleClass}">{!mandawrapper.mandatory.Condition__c}</td>
                                        </tr>
                                    </apex:outputpanel>
                                </apex:repeat>
                            </tbody>
                        </table>
                    </div>

                </apex:pageblock>
            </apex:form>
        </div>

        <apex:includescript value="{!$Resource.AccountPlan_JqueryScript}" />
        <apex:includescript value="{!$Resource.AccountPlan_Bootstrap}" />
        <apex:includescript value="{!$Resource.AccountPlan_Mustache}" />
        <apex:includescript value="/support/console/22.0/integration.js" />
        <script>
            // Prevent Config
            var $j = jQuery.noConflict();

        </script>
    </body>
</apex:page>