<apex:page docType="html-5.0" showChat="false" 
showHeader="false" sidebar="false" applyBodyTag="false" 
applyHtmlTag="true"  standardStylesheets="true"
standardController="AcctPlanQuestionnaire__c" extensions="DomainIVQuestionnaireEdittableCtrl"

>
<!-- Header -->
<head>
        <title>FX Hedging Behavior</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Keattisak Chinburarat" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <!-- Static Resource -->
        <!--<apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap.min.css')}"/>  -->
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}"/>
        <!--[if lt IE 9]><script src="../dist/js/ie8-responsive-file-warning.js"></script><![endif]-->
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <apex:includeScript value="{!$Resource.AccountPlan_HTML5shiv}"/>
          <apex:includeScript value="{!$Resource.AccountPlan_Respond}"/>
        <![endif]-->        
        
        <apex:stylesheet value="{!URLFOR($Resource.boostrapex)}"/>
        
        <apex:stylesheet value="{!URLFOR($Resource.AccountPlanEditTable)}"/>
        <style>
        .requiredInput{
            width: 100%;
    		margin: 0 auto;
        }
        .bootstrap-sf1 textarea{
         	width: 100%;  
        }
    
        </style>
    </head>

    <body>  
        <div class="bootstrap-sf1" >
            <div class="row" >
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <apex:form >        

                        <apex:pageMessages id="messages"/>                          
                            <apex:pageBlock title="Edit Questionnaire" id="childList">     
                                <apex:actionstatus id="status">
                                                    <apex:facet name="start">
                                                        <div class='overlay' style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: #ededed;">
                                                            &nbsp;
                                                        </div>
                                                        <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
                                                            <img src="/img/loading32.gif" />
                                                        </div>
                                                    </apex:facet>
                                     </apex:actionstatus>   
                            <div>
                                <table class="table table-striped table-hover"  id="edittable" style="width:70%;margin:auto;">
                                    <thead>
                                        <tr>
                                            <td colspan="">
                                                <apex:commandButton styleClass="btn  btn-success" value="Add New" action="{!addToList}" status="status" rerender="childList, messages" />
                                            </td>
                                            <td colspan="7" class="text-right bs-component">
                                                <apex:commandButton value="Save" styleClass="btn  btn-primary" style="" action="{!checkportion}" status="status" rerender="messages,childList" />
                                                
                                            </td>                           
                                        </tr>
                                        <tr>                                
                                            <th>Yes/No</th>
                                            <th style="display:{!if(isBehavior,'grid','none')};">Hedging Behavior</th>
                                            <th style="display:{!if(isEXP,'grid','none')};">Hedging Tools</th>
                                            <th style="display:{!if(isRisk,'grid','none')};">Export side</th>
                                            <th style="display:{!if(isEXP,'grid','none')};">Additional Comment</th>
                                            <th style="display:{!if(isRisk,'grid','none')};">Opportunity</th>
                                            <th>
                                                     </th>
                                            <th>
                                                     </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <apex:variable var="rowNum" value="{!ZERO}" />
                                        <apex:repeat value="{!children}" var="crc">
                                           
                                            <tr>
                                                <td class="text-center" style="width: 80px;">
                                                    <div style="float: initial;"  >
                                                       
                                            <apex:inputField value="{!crc.Answer__c}" style="width: 100%;"
                                            required="{! !crc.isStandard__c}" 
                                            onchange="showOpportunity( this,{!rowNum},'{!TypeofQuestionnaire}' );" /> 
                                                
                                            	</div>
                                                </td>
                                                <td class="text-center">
                                                    <apex:inputField value="{!crc.Question__c }" 
                                                required="true" 
                                                rendered="{! !crc.isStandard__c}"  /> 
                                                    <apex:outputfield value="{!crc.Question__c }"  styleClass="text-left"
                                                rendered="{!crc.isStandard__c}"  /> 
                                                    
                                                    	<apex:outputpanel rendered="{!crc.Question_TH__c != 'None'}">
                                                            <br / >
                                                        	<apex:outputfield value="{!crc.Question_TH__c}" styleClass="form-control" rendered="{!crc.isStandard__c}" />
                                                            </apex:outputpanel>
                                                    </td>
                                                
                                                <td style="display:{!if(isEXP,'grid','none')};" class="text-center" ><apex:inputField value="{!crc.Comment__c }" 
                                               
                                                rendered="{!isEXP}"  /> 
                                                    </td>
                                           <td id="Oppty{!rowNum}" class="text-left ">
                                                   <div class="{!IF(crc.Answer__c == 'Yes' && isRisk==true,'','display-none')}"> 
                                                    <apex:outputfield value="{!crc.Opportunity__c }" styleClass="Oppty{!rowNum}"
                                                
                                                        rendered="{!isRisk  && crc.isStandard__c && crc.Answer__c =='Yes' }"  /> 
                                                   </div>         
                                              </td>
                                                
                                                <td>
                                                    <apex:variable var="rowNum" value="{!rowNum + 1}" />
                                                    <apex:commandLink value="Delete" action="{!removeFromList}" onclick="if(!confirm('Are you sure you want to delete this item?')) return false;" status="status" styleClass="btn btn-danger" rendered="{! !crc.isStandard__c}"  rerender="childList, messages" immediate="true">
                                                      <apex:param name="removeIndex" assignTo="{!removeIndex}" value="{!rowNum}" />
                                                    </apex:commandLink>
                                                </td>
                                                
                                                
                                            </tr>
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            </div>                      
                        </apex:pageBlock>
                    </apex:form>            
                </div>              
            </div>
        </div>
        
        <apex:includescript value="{!$Resource.AccountPlan_JqueryScript}" />
        <apex:includeScript value="/support/console/22.0/integration.js"/>  
        <script>
               
                // Prevent Config
                var $j = jQuery.noConflict();
                // Ready Event  
            function showOpportunity(answer,data,table){ 
                var ids = "#"+table+" #Oppty"+data;
                
                	console.log(table);
                 if(table!='FX Hedging Behavior'){
                      if(answer.value == 'Yes'){
                         $j(ids).show();   
                      }else{
                          $j(ids).hide();  
                      }
                    }   
                 
                }
        </script>
    </body>    
</apex:page>