<apex:page standardController="Lead" extensions="DuplicateAccountController" standardStylesheets="true" showHeader="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            <title>{! Lead.Name }</title>
            <meta name="viewport" content="width=device-width, initial-scale=1" />

            <apex:includeScript value="/support/console/39.0/integration.js"/>
            <apex:includeScript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-2.0.0.min.js')}"  />

            <!-- <apex:actionstatus onstart="startLoading('Inserting ...');" id="status" onstop="endLoading();" /> -->

            <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}" />

            <apex:slds />
            
            <style>
                .overlay {
                    display: none;
                    height: 100%;
                    left: 0;
                    position: fixed;
                    top: 0;
                    opacity: 0.3;
                    -moz-opacity: 0.3;
                    width: 100%;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
                    filter: alpha(opacity=30);
                    background: #000;
                    -khtml-opacity: 0.3;
                    z-index: 1000;
                }
                
                .loader {
                    background: url('/img/loading32.gif') scroll no-repeat 50% 0;
                    /* width: 32px;*/
                    height: 32px;
                    position: absolute;
                    left: 48%;
                }
                
                .red-label {
                    list-style: none;
                    color: #f00;
                }
                .bootstrap-sf1{
                    overflow: hidden;
                }
                .bootstrap-sf1 .paddingline{
                    /*padding-top :5px;*/
                }
                .bootstrap-sf1{
                    background-color: #FFF;
                
                }
                .bootstrap-sf1 .btn-block {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
                .bootstrap-sf1 .padding-label {
                    padding-right: 20px;
                    float: left; 
                    width: 40%; 
                    text-align: right;
                }
                .bootstrap-sf1 .padding-values {
                    float: right; 
                    text-align: left; 
                    width: 60%;
                background-color: rgb(255, 255, 255);
                    color: rgb(22, 50, 92) !important;
                    transition: border .1s linear,background-color .1s linear;
                    min-height: 1.875rem;
                }
                
                .bootstrap-sf1 .output-label{
                    display: inline-block;
                        color: rgb(112, 110, 107);
                        font-size: 0.79rem;
                        line-height: 1.5;
                        margin-right: .75rem;
                        margin-bottom: .125rem;
                    font-weight: normal !important;
                }
                .slds-button-block{
                    text-align: center;
                    margin : 10px;
                }
                .slds-scope table{
                width: auto;
                }
                /*.bootstrap-sf1 .row {
                    min-width:1122px;
                }*/
                .slds-scope .slds-text-title--caps, .slds-scope .slds-text-title_caps {
                font-size: .79rem !important;
                }

                .messageText{
                padding-bottom: -5px;
                }

                .messageCell .messageText br{
                display: none;
                }
            </style>

            
            <script type="text/javascript">
                $(document).ready(function () {
                    sforce.console.setTabTitle('{! Lead.Salutation + " " + Lead.Name }');
                    // sforce.console.setTabIcon("/apexpages/slds/latest/assets/icons/action/new_lead.svg", null, null);
                    $("#Page").hide();
                    checkDupAccToRedirect();
                });

                
            </script>
        </head>

        <body style="background-color: #FFF">
            <div class="slds-scope">

                <apex:outputPanel id="Page">

                    <!-- HEADER SECTION -->
                     <apex:outputPanel rendered="{! showSelectAccountDup || showErrorMessagePage}">
                        <div class="slds-page-header">
                            <div class="slds-grid">
                                <div class="slds-col slds-has-flexi-truncate">
                                    <div class="slds-media slds-no-space slds-grow">
                                        <div class="slds-media__figure">
                                            <span class="slds-icon_container slds-icon-standard-campaign" style="width:32px;height:32px;" >
                                                <span aria-hidden="true" class="slds-icon slds-icon_medium">
                                                    <img src="/apexpages/slds/latest/assets/icons/action/new_lead.svg" style="margin: 5px; width:70%;" class="pageTitleIcon"/>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="slds-media__body">
                                            <nav>
                                                <ol class="slds-breadcrumb slds-line-height_reset">
                                                    <li class="slds-breadcrumb__item">
                                                        <span>Duplicate Customer</span>
                                                    </li>
                                                </ol>
                                            </nav> 
                                            <h1 class="slds-page-header__title slds-m-right_small slds-align-middle slds-truncate">
                                            {! Lead.name}
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </apex:outputPanel>

                    <!-- SELECT DUPLICATE ACCOUNT PAGE-->
                    <apex:outputPanel rendered="{! showSelectAccountDup}">
                        <c:RTL_DuplicateAccountComponent CurrentObjB="{!leadObj}"/>
                    </apex:outputPanel>
                    
                    <!-- ERROR MESSAGE  DUPLICATE LEAD IF NOT DUPLICATE ACCOUNT -->
                    <apex:outputPanel rendered="{! showErrorMessagePage}" >
                        <apex:form >
                            <div class="slds-section__title slds-theme--shade primaryPaletteBorder">
                                <h1 class="section-header-title slds-p-horizontal--small slds-truncate">Convert Lead</h1> 
                            </div>

                            <div style="margin: 4px 20px;">
                                <apex:pageBlock mode="maindetail">
                                    <apex:pageMessages id="errorMSG"/>
                                </apex:pageBlock>
                            </div>

                            <apex:pageBlock mode="maindetail">
                                <apex:pageBlockButtons location="bottom">
                                    <apex:commandButton action="{!backToLeadDetailPage}" styleClass="slds-button slds-button--neutral" value="Back" />
                                </apex:pageBlockButtons>
                            </apex:pageBlock>

                        </apex:form>
                    </apex:outputPanel>

                </apex:outputPanel>
                
                <!-- LOADING -->
                <apex:form >
                    <apex:actionstatus id="status">
                        <apex:facet name="start">
                            <div class="demo-only demo--inverse" style="height: 6rem;">
                                <div class="slds-spinner_container slds-is-fixed">
                                    <div role="status" class="slds-spinner slds-spinner_medium">
                                        <span class="slds-assistive-text"></span>
                                        <div class="slds-spinner__dot-a"></div>
                                        <div class="slds-spinner__dot-b"></div>
                                    </div>
                                </div>
                            </div>
                        </apex:facet>
                    </apex:actionstatus>
                        
                    <apex:actionFunction name="checkDupAccToRedirect" action="{!checkDupAccToRedirect}" status="status" oncomplete="rediPage();" reRender="rediSection1, Page"/>
                </apex:form>
                
            </div>

            <apex:outputPanel id="rediSection1">
                <script>
                    function rediPage() {
                        console.log('isConvertSuccess :');
                        console.log({! isConvertSuccess});
                        console.log('{! accId}');
                        
                        
                        if({! isConvertSuccess} == true && sforce.console.isInConsole()){
                            var url = '/{! accId}' ;
                            var label = '{! Newacct.name}';
                            var openimmediately = true;


                            sforce.console.openPrimaryTab(null, url, openimmediately, label, setIcon, label);
                        }else if({! isConvertSuccess} == true){
                            sforce.one.navigateToURL('/{! accId}')
                        }
                    }

                    function setIcon(result) {
                        // sforce.console.setTabIcon("{!URLFOR($Resource.customer_logo_icon)}", result.id); 
                        sforce.console.getEnclosingTabId(closeSubtab);
                    }

                    var closeSubtab = function closeSubtab(result) {
                        console.log('Close');
                        var tabId = result.id;
                        sforce.console.closeTab(tabId);
                    };
                </script>
            </apex:outputPanel>
        </body>
    </html>
</apex:page>