<apex:page standardController="AcctPlanProdStrategy__c" extensions="AccountPlanRevenueExpectationCtrl"
    showChat="false" showHeader="false" sidebar="false"
    applyBodyTag="false" applyHtmlTag="true" standardStylesheets="false"
    contenttype="application/vnd.ms-excel#CustomerPerformance.xls" cache="true">
    <head>
<title>Revenue Expectation</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="Keattisak Chinburarat" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<!-- Static Resource -->
<!--<apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap.min.css')}"/>  -->
<apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}" />
<!--[if lt IE 9]><script src="../dist/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
          <apex:includeScript value="{!$Resource.AccountPlan_HTML5shiv}"/>
          <apex:includeScript value="{!$Resource.AccountPlan_Respond}"/>
        <![endif]-->
<apex:stylesheet value="{!URLFOR($Resource.AccountPlanMaster)}"/>
<style>

</style>
    </head>

    <body>

        <div class="bootstrap-sf1">
            <div id="responseErrors"></div>
            <apex:form styleClass="form-horizontal">
                               
                <!-- /Section 1 -->
                        
                                                    
                <div class="card collapse in panel-collapse">            
                    <div class="card-detail" >                     
                    
                        <apex:pageBlock id="pgBlock">
                                    
                              <!--  Section 1 -->
                                <fieldset>
                                  
                                <div class="col-sm-8 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <apex:outputpanel id="targetPanel">
                                            <div style="padding-top: 50px;">
                                                <table class="table">
                                                    <tbody>

                                                        <tr>
                                                            <td class="forceBackground" style="border: none;text-align:left; background-color: #006DCC; color: white;font-weight: bold;" width="30%">Year</td>
                                                            <td style="border: none;text-align: right;">
                                                                <span class="form-control text-center calculate">
                                                                    <apex:outputfield value="{!companyprofile.Year__c}" />
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="forceBackground" style="border: none;text-align:left; background-color: #006DCC; color: white;font-weight: bold;">
                                                                    Customer Name</td>
                                                            <td style="border: none;text-align: right;">
                                                                <span class="form-control text-center calculate">
                                                                    <apex:outputfield value="{!companyprofile.AccountName__c}" />
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                          </apex:outputpanel>
                                        </div>
                                    </div>
                                    <br />
                                   
                                    <div style="clear:both;float:left;">
                                        Data as of <label><apex:outputfield id="refreshAsOf" value="{!refreshProdStrategy.RefreshAsOf__c}" /></label>
                                    </div>

                                    <div style="clear:both;">   
                                    
                                    <apex:PageblockSection columns="1" id="customerperformancepageblock" >
                                        <apex:outputPanel >   
                                    
                                            <table class="table table-striped table-hover" id="customerperformancetable" border="1">
                                                <thead>
                                                    <tr>
                                                        <td class="text-left" style="border:none;">
                                                            <label class="control-label">Unit: THB</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                            
                                                        <th style="background-color: #006DCC; color: white; vertical-align:top">Type of Wallet</th>
                                                        <th style="background-color: #006DCC; color: white; vertical-align:top">Wallet Sizing (Yearly)</th>
                                                        <th style="background-color: #006DCC; color: white; vertical-align:top; width:10%;">Target by Customer</th>
                                                        <th style="background-color: #006DCC; color: white; vertical-align:top">Actual NI <br />(12-mth Rolling)</th>                                                        
                                                        <th style="background-color: #006DCC; color: white; vertical-align:top">Adjusted NI <br />(12-mth Rolling)</th>
                                                        <th style="background-color: #006DCC; color: white; vertical-align:top">% Existing SOW</th>
                                                        <th style="background-color: #006DCC; color: white; vertical-align:top">Expected<br /> Incremental NI<br /> (Unit: THB)</th>
                                                        <th style="background-color: #006DCC; color: white; vertical-align:top">Total Company NI</th>
                                                        <th style="background-color: #006DCC; color: white; vertical-align:top">% Expected<br /> SOW</th>
                                                        <th style="background-color: #006DCC; color: white; vertical-align:top">% Aspiration<br /> SOW</th>
                                                        <th style="background-color: #006DCC; color: white; vertical-align:top">Compare %<br />Aspiration SOW<br/>and % Expected<br /> SOW</th>
                                                         
                                                    </tr>
                                                </thead>
                                               <tbody>
                                              <!-- Repeat Data Go Here -->
                                             <apex:variable value="{!1}" var="count"/>
                                                
                                             <apex:repeat value="{!AcctPlanProdStrategyList}" var="pdsCom">
                                             <tr>
        
                                                <td class="text-left" style="font-weight: bold;{!if(pdsCom.SEQ==4 || pdsCom.SEQ==10,'padding-left:25px', if(pdsCom.SEQ==1 || pdsCom.SEQ==2 || pdsCom.SEQ==3,'font-weight: bold','padding-left:40px'))};"> 
                                                    <label>{!pdsCom.Name} </label></td>
                                                <td class="text-right"> 
                                                    <apex:outputText rendered="{!pdsCom.SEQ!=4 && pdsCom.SEQ!=10 && pdsCom.SEQ!=13 && pdsCom.SEQ!=14}" value="{0, number, ###,##0}" style="{!if(pdsCom.SEQ!=9 && pdsCom.SEQ!=13 && pdsCom.SEQ!=14,'','display: none')};">
                                                        <apex:param value="{!pdsCom.WalletSizing}" />
                                                    </apex:outputText></td>
                                                    
                                                <td class="text-right"> </td>
                                                
                                                <td class="text-right"> 
                                                    <apex:outputText id="txtActualPerformance" rendered="{!pdsCom.SEQ!=4 && pdsCom.SEQ!=10}" value="{0, number, ###,##0}">
                                                        <apex:param value="{!pdsCom.AnnualizedPerformance}" />
                                                    </apex:outputText></td>
                                                    
                                                <td class="text-right">
                                                    <apex:outputText id="txtAdjustNI" rendered="{!pdsCom.SEQ!=4 && pdsCom.SEQ!=10}" value="{0, number, ###,##0}">
                                                        <apex:param value="{!pdsCom.AdjustNI}" />
                                                    </apex:outputText></td>  
                                                    
                                                <td class="text-right">
                                                    <apex:outputText id="txtExistingSOW" rendered="{!pdsCom.SEQ!=4 && pdsCom.SEQ!=10 && pdsCom.SEQ!=9 && pdsCom.SEQ!=11 && pdsCom.SEQ!=12 && pdsCom.SEQ!=13 && pdsCom.SEQ!=14}" value="{0, number, ###,##0.00}%" style="{!if(pdsCom.SEQ!=9 && pdsCom.SEQ!=11 && pdsCom.SEQ!=12 && pdsCom.SEQ!=13 && pdsCom.SEQ!=14,'','display: none')};">
                                                        <apex:param value="{!pdsCom.ExistingSOW}" />
                                                    </apex:outputText></td>
                                                <td class="text-right"> 
                                                    <apex:outputText id="txtExpectedIncrementalNI" rendered="{!pdsCom.SEQ!=4 && pdsCom.SEQ!=10}" value="{0, number, ###,##0}" style="{!if(pdsCom.SEQ!=9,'','display: none')};">
                                                        <apex:param value="{!pdsCom.ExpectedIncrementalNIFromStep5}" />
                                                    </apex:outputText></td>
                                                <td class="text-right"> 
                                                    <apex:outputText id="txtTotalCompanyNI" rendered="{!pdsCom.SEQ!=4 && pdsCom.SEQ!=10}" value="{0, number, ###,##0}">
                                                        <apex:param value="{!pdsCom.TotalCompanyNI}" />
                                                    </apex:outputText></td>
                                                <td class="text-right"> 
                                                    <apex:outputText id="txtExpectedSOWPercent" rendered="{!pdsCom.SEQ!=4 && pdsCom.SEQ!=10 && pdsCom.SEQ!=3 && pdsCom.SEQ!=9}" value="{0, number, ###,##0.00}%" style="{!if(pdsCom.SEQ!=3 && pdsCom.SEQ!=9,'','display: none')};">
                                                        <apex:param value="{!pdsCom.ExpectedSOWPercent}" />
                                                    </apex:outputText></td>
                                                <td class="text-right"> 
                                                    <apex:outputText id="txtAspirationSOW" rendered="{!pdsCom.SEQ!=4 && pdsCom.SEQ!=10 && pdsCom.SEQ!=3 && pdsCom.SEQ!=9}" value="{0, number, ###,##0.00}%"  style="{!if(pdsCom.SEQ!=3 && pdsCom.SEQ!=9,'','display: none')};">
                                                        <apex:param value="{!pdsCom.AspirationSOW}" />
                                                    </apex:outputText></td>
                                                <td class="text-right"> 
                                                    <apex:outputText id="txtCompareSOW" rendered="{!pdsCom.SEQ!=4 && pdsCom.SEQ!=10 && pdsCom.SEQ!=3 && pdsCom.SEQ!=9}" value="{0, number, ###,##0.00}%"  style="{!if(pdsCom.SEQ!=3 && pdsCom.SEQ!=9,'','display: none')};">
                                                        <apex:param value="{!pdsCom.CompareSOW}" />
                                                    </apex:outputText></td>
                                                
                                                <apex:variable var="count" value="{!count+ 1}"/>
        
                                            </tr>                                       
                                            </apex:repeat> 
                                            <tr class="info endRow">
        
                                                <td class="text-left" style="background-color: #006DCC;font-weight: bold;"><label>Total</label></td>
                                                <td class="text-right" style="background-color: #c6e4ec;">
                                                     <apex:outputText value="{0, number, ###,##0}">
                                                         <apex:param value="{!sumWalletSizing}" />
                                                             </apex:outputText>  
                                                         </td>
                                                <td class="text-right" style="background-color: #c6e4ec;">
                                                   
                                                    <apex:outputText value="{0, number, ###,##0}">
                                                        <apex:param value="{!sumTargetNIByRm}" />
                                                    </apex:outputText> 
                                                
                                                </td>
                                                <td class="text-right" style="background-color: #c6e4ec;">
                                                    <apex:outputText value="{0, number, ###,##0}">
                                                        <apex:param value="{!sumActualNI}" />
                                                    </apex:outputText>      
                                                </td>
                                                <td class="text-right" style="background-color: #c6e4ec;">
                                                    <apex:outputText value="{0, number, ###,##0}">
                                                        <apex:param value="{!sumAdjustNI}" />
                                                    </apex:outputText>      
                                                </td>
                                                <td class="text-right" style="background-color: #c6e4ec;">
                                                    <apex:outputText value="{0, number, ###,##0.00}%">
                                                        <apex:param value="{!sumExistingSOW}" />
                                                    </apex:outputText>      
                                                </td>
                                                <td class="text-right" style="background-color: #c6e4ec;">
                                                    <apex:outputText value="{0, number, ###,##0}">
                                                        <apex:param value="{!sumExpectedNIFromStep5}" />
                                                    </apex:outputText>
                                                </td>
                                                <td class="text-right" style="background-color: #c6e4ec;">
                                                    <apex:outputText value="{0, number, ###,##0}">
                                                        <apex:param value="{!sumTotalCompanyNI}" />
                                                    </apex:outputText>
                                                </td>
                                                <td class="text-right" style="background-color: #c6e4ec;"></td>
                                                <td class="text-right" style="background-color: #c6e4ec;"></td>
                                                <td class="text-right" style="background-color: #c6e4ec;"></td>
                                            </tr>
                                           </tbody>
                                        </table>                                    
                                                                        
                                    </apex:outputPanel>
                                </apex:PageblockSection>
                                         
                            </div>
                                    
                        </fieldset>
                                
                    </apex:pageBlock>                                          
                    

            </div>
        </div>                          
        <!-- /Section 1 -->
                

        </apex:form>
    </div>

        <apex:includescript value="{!$Resource.AccountPlan_JqueryScript}" />
        <apex:includescript value="{!$Resource.AccountPlan_Bootstrap}" />
        <apex:includeScript value="{!$Resource.AccountPlan_Mustache}"/>

    </body>

</apex:page>