<apex:page controller="fnaAvatarPassportCtrl" showHeader="false" sidebar="false" cache="false"  id="profile" standardStylesheets="false" html-prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#" doctype="html-5.0" applyBodyTag="false">
<!-- <html lang="th"> -->
    <head>
        <meta http-equiv="Content-Type"     content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible"  content="IE=edge"/>
        <meta name="viewport"               content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta property="og:url"             content="{!urlForSharing}" />
        <meta property="og:type"            content="website" />
        <meta property="og:title"           content="{!avatar.Avatar_TH__c}" />
        <meta property="og:description"     content="{!avatar.Avatar_Short_Description__c}" />
        <!-- <meta property="og:image" content="https://fna-tmbbankpws.cs58.force.com/fin/sfc/servlet.shepherd/version/download/0680l000001Y92s"/>  -->
        <meta property="og:image:width" content="200"/>
        <meta property="og:image:height" content="200"/>
        <!-- 0680l000001XX1Z -->
        <!-- 0680l000001XzKXAA0 -->
        <title>FIN Avatar Questionnaire Prototype</title>
        <!-- <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>  -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.2.5/polyfill.min.js"></script> -->
        <apex:includeScript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-2.0.0.min.js')}"  />   
        <apex:includeScript value="{!URLFOR($Resource.DOMToImage)}"  /> 

        <apex:stylesheet value="{!URLFOR($Resource.FNA_Resource, '/public/css/bootstrap.min.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.FNA_Resource, '/public/css/hover.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.FNA_Resource, '/src/css/passport.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.fnaAvatarDetail, '/css/fnaAvatarDetail.css')}" />        

        <apex:includeScript value="{!URLFOR($Resource.FNA_Resource, '/public/js/bootstrap.min.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.FNA_Resource, '/public/js/jquery-ui.js')}"/>
        
        
        <!-- Load Facebook SDK for JavaScript -->
        <!-- <script>
            $(function(){
                // initialize fb sdk
                window.fbAsyncInit = function() {
                    FB.init({
                    appId      : '377030019386958',
                    xfbml      : true,
                    version    : 'v2.2'
                    });
                };

                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            });
        </script> -->
        <style>
            a {
                text-decoration: none;
            }

            .img{
                max-width: 100%;
                height: auto;

            }
            .marginAuto{
                margin: 0 auto;
            }

            @media (max-width: 767px) and (min-width: 320px){
                .passport .persona .col-6 .quote em2{
                    position: relative !important;
                    display: block !important;
                    margin: 0 auto;
                    width: 70px !important;
                    height: 70px !important;    
                    top: -20px;
                }
            }

            .slds-spinner_container {
                position: fixed;
            }

            .hide{
                display: none;
            }

            @media (max-width: 500px) and (min-width: 320px){
                .contentQuestion{
                    overflow: auto;
                }
            }
            @media (max-width: 500px) and (min-width: 320px){
                .img{
                    max-width: 100% !important;
                    height: auto;
                }
            }

            .pointer{
                cursor: pointer;
            }

            button {
                outline: none;
            }

        </style>
     
    </head>
    <body>
        <apex:form >
            <apex:actionFunction action="{!saveScreenShot}" name="saveImageFile" rerender="frm">
                <apex:param assignTo="{!strImageBlob}" name="imageBlob" value=""/>
            </apex:actionFunction>
        </apex:form>
        <div id="mapDiv">
            <span class="loadingDisplay hide">
                <div id="spinnerDiv" class="demo-only demo--inverse" >
                    <div class="slds-spinner_container">
                        <div role="status" class="slds-spinner slds-spinner_medium">
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div>
            </span>
            <div class="loadingQuestion contentQuestion">
                <div class="contentQuestion" id='avatar-img'>
                    <header>
                        <div class="topbar" style="position: relative;">
                            <img src="{!imageResource.logo}" class="logo" />
                        </div>
                    </header>
                    <main>		
                        <section class="too-small">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                    
                                    </div>
                                    <div class="col-8">
                                        <div class="frown text-center">
                                            <img src="{!imageResource.hurt}"  class="img-fluid" />
                                        </div>
                                        <div class="dizzy text-center">
                                            <img src="{!imageResource.dead}" class="img-fluid" />
                                        </div>
                                        <div class="box">
                                            <h1>
                                                Your device is not supported, please upgrade your device if you want to take this journey with us!<br/>
                                                <i class="fas fa-mobile-alt"></i>
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="col">
                                    
                                    </div>
                                </div>
                            </div>
                        </section>
                
                        <section class="passport">
                
                            <div class="persona">
                                <h1 class="display-4">{!avatarName}</h1>
                                <h1 class="display-4">{!avatar.Avatar_TH__c}</h1>
                                <div class="row">
                                    <div class="col-6 marginAuto">
                                        <div class="quote">
                                            <em>“</em>
                                            <span class="media-body avatarDescription">
                                                {!avatar.Avatar_Short_Description__c}
                                            </span>
                                            <em>”</em>
                                        </div>
                                        <dl>
                                            <dt><img src="{!urlImage}" class="img-fluid" /></dt>
                                            <dd><div class="shadow"></div></dd>
                                        </dl>
                                        
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col align-self-center">
                                        <button onclick="handleProduct()" type="submit" id="showprod" class="btn-lg cta hvr-grow-shadow download pointer">ดูผลิตภัณฑ์ที่ตอบโจทย์ความต้องการของคุณ</button>
                                    </div>
                                </div>
                                
                                <div class="row hide" >

                                    <div class="col align-self-center">
                                        <ul>
                                            <li><a href="#" id="link" onclick="downloadImage()"><img src="{!imageResource.download}" /><br/>Save</a></li>
                                            <!-- <li><a href="#"><img src={imageResource.ig} /><br/>Instagram</a></li> -->
                                            <li><a href="#" id="fnaShareFacebook" onclick="shareFB()"><img src="{!imageResource.fb}" /><br/>Facebook</a></li>
                                            <!-- <li><a href="#" onclick="messengerShareHandler()"><img src="{!imageResource.messenger}" /><br/>Messenger</a></li> -->
                                            <li>
                                                <a href="#" onclick="shareLine()"><img src="{!imageResource.line}" /><br/>Line</a>
                                            </li>
                                            
                                            <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
                                        </ul>
                                    </div>
                                </div>

                                <div class="modal fade" id="IEModal" tabindex="-1" role="dialog" aria-labelledby="IEModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="mobileLabel">ไม่สามารถดาวน์โหลด Avatar ได้!</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <i class="fas fa-times-circle"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <i class="fas fa-exclamation-circle"></i>
                                            <p>เบราว์เซอร์ของคุณไม่รองรับ กรุณาเปิดเบราว์เซอร์ที่รองรับ</p>
                                            <ul>
                                                <li><img src="{!imageResource.chrome}" /></li>
                                                <li><img src="{!imageResource.firefox}" /></li>
                                                <li><img src="{!imageResource.safari}" /></li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-lg cta" data-dismiss="modal">ตามนั้น</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </section>
                        
                    </main>
                </div>
            </div>	
        </div>        
    </body>
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script> -->
    <script type="text/javascript">
        // var Promise = require('es6-promise').Promise;

        // function share() {
        //     FB.ui({
        //         method: 'share',
        //         href: '{urlCurrentPage}',
        //     }, function(response){});
        // }
        var _imageDataURL;
        function shareFB(){
            if((navigator.userAgent).includes("Line")){
                console.log('Line')
                $('#IEModal').modal('toggle');
            }
            else{
                url = '{!urlForSharing}';
                console.log('url : ' + url);
                newwindow=window.open('https://www.facebook.com/sharer/sharer.php?u='+url,'TMBPopup','height=480,width=640');
                if (window.focus) {newwindow.focus()}
                return false;
            }
        }

        function shareLine(){
            console.log('testShareLine');
            if((navigator.userAgent).includes("Line")){
                console.log('Line')
                $('#IEModal').modal('toggle');
            }
            else{
                console.log('else')
                // $('#IEModal').modal('toggle');
                location.href = '{!urlForSharing}';
            }
        }

        function callActionFunction()
        {
            saveImageFile(_imageDataURL);
            // document.getElementById("canvasDownload").toDataURL()
        }

        function handleProduct() {
            var originalURL = 'Id=' + '{!fnaIdEncrypted}';
            window.location.href = '/fin/s/fnaHighlightProduct?' + encodeURIComponent(originalURL);
        }

        function messengerShareHandler(){
            console.log('messengerShareHandler device'+ device);
            if(device == "unknown"){
                console.log("unknown");
                var link = document.getElementById('fnaShareFacebook');
                link.click();
            }else{


                // var now = new Date().valueOf();
                // setTimeout(function () {
                //     if (new Date().valueOf() - now > 100) return;
                //     window.location = "https://apps.apple.com/us/app/messenger/id454638411";
                // }, 25);
                // window.location = "fb-messenger://share/?link=' + '{!urlForSharing}";

                var rekuest= new XMLHttpRequest();  
                rekuest.open('GET', 'fb-messenger://share/?link=' + '{!urlForSharing}', true);  
                rekuest.send();  
                if (rekuest.status === "404") {alert("not exist!"); }  
                console.log("messengerShare");
                location.href = 'fb-messenger://share/?link=' + '{!urlForSharing}';
            }
    
        }

        ////////// Share ///////////////

        var device = checkDevice();
        function checkDevice(){
            // https://stackoverflow.com/questions/21741841/detecting-ios-android-operating-system
            var userAgent = navigator.userAgent || navigator.vendor || window.opera;
            
            if (/android/i.test(userAgent)) {
                // $('#device').text('Android');
                return "Android";
            }else if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                // iOS detection from: http://stackoverflow.com/a/9039885/177710
                // $('#device').text('iOS');
                // console.log("iOS");
                return "iOS";
            }else{
                // $('#device').text('unknown');
                // console.log("unknown");
                return "unknown";
            }
        };

        var e = document.getElementById("avatar-img");
        console.log(e);
        window.onload = function(){
            

            var node = document.getElementById('avatar-img');
            
            domtoimage.toPng(node,{bgcolor:'#e1f4fd'})
            .then(function (dataUrl) {
                // var img = new Image();
                // img.src = dataUrl;
                // document.body.appendChild(img);
                _imageDataURL = dataUrl;
                callActionFunction();
 
            })
            .catch(function (error) {
                console.error('oops, something went wrong!', error);
            });

            // html2canvas(e,
            // {
            //     useCORS: true,
            //     onrendered: function(canvas) 
            //     {                    
            //         e.appendChild(canvas);
            //         canvas.setAttribute("id", "canvasDownload");
            //         canvas.className = 'canvasDownload';
            //         //e.setAttribute("style", "display:none;");
            //     }
            // });

            

       

        }

        // function test(){
            //     var oldCanvas = document.getElementById("canvasDownload");
            //     if(oldCanvas != null && oldCanvas != undefined){
            //         oldCanvas.remove();
            //     }
            //     var e = document.getElementById("forDownload");
            //     html2canvas(e,
            //     {
            //         useCORS: true,
            //         onrendered: function(canvas) 
            //         {
            //             //var e2 = document.getElementById("thecanvas");
                        
            //             e.appendChild(canvas);
            //             //canvas.style.display = 'none';
            //             canvas.setAttribute("id", "canvasDownload");
            //             canvas.className = 'canvasDownload';

            //             // var canvas = document.getElementById("canvasDownload");
            //             // var image = canvas.toDataURL("image/png");
            //             // var link = document.getElementById('link');
            //             // link.setAttribute('download', 'MintyPaper.png');
            //             // link.setAttribute('href', canvas.toDataURL("image/png"));
            //             // link.setAttribute('href', canvas.toDataURL("image/png").replace("image/png", "image/octet-stream"));
                        
            //         }
            //     });
        // }

        function downloadImage()
        {
           
            // var canvas = document.getElementById("canvasDownload");
            // var image = canvas.toDataURL("image/png");

            // console.log('device : ' + device);
            // if(device == 'iOS'){
            //      /*Open new Tab and manual Save*/
            //     var newTab = window.open();
            //     newTab.document.body.innerHTML = '<img src="'+image+'" width="100%"/>';

            // }else{
            //     /*Download Image auto save*/
            //     var link = document.getElementById('link');
            //     link.setAttribute('download', '{!avatar.Avatar_TH__c}' + '.png');
            //     link.setAttribute('href', canvas.toDataURL("image/png"));
            //     // link.click();
            // }

            // if(device == 'iOS'){
                /*Open new Tab and manual Save*/
                // var newTab = window.open();
                // newTab.document.body.innerHTML = '<img src="'+_imageDataURL+'" width="100%"/>';
            // }else{
            //     /*Download Image auto save*/
            var ieversion = detectIEEdge();
            
            if((navigator.userAgent).includes("Line")){
                console.log('Line')
                $('#IEModal').modal('toggle');
            }
            else{
                if(ieversion == false){
                var link = document.getElementById('link');
                    link.setAttribute('download', '{!avatar.Avatar_TH__c}' + '.png');
                    link.setAttribute('href', _imageDataURL);
                }
                else{
                    //window.navigator.msSaveBlob(_imageDataURL, 'drawingFileName.png');
                }
            }
                
            //     console.log('download done');
            // }
        }

        function homepage(){
            window.location.href = '/fin/s/';
        }

        /**
         * detect IEEdge
         * returns version of IE/Edge or false, if browser is not a Microsoft browser
         */
        function detectIEEdge() {
            var ua = window.navigator.userAgent;

            var msie = ua.indexOf('MSIE ');
            if (msie > 0) {
                // IE 10 or older => return version number
                return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
            }

            var trident = ua.indexOf('Trident/');
            if (trident > 0) {
                // IE 11 => return version number
                var rv = ua.indexOf('rv:');
                return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
            }

            var edge = ua.indexOf('Edge/');
            if (edge > 0) {
            // Edge => return version number
            return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
            }

            // other browser
            return false;
        }       

    </script>
<!-- </html>     -->
</apex:page>