<apex:page standardController="Lead" extensions="LeadActionExtension">
    <apex:includescript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}" />
    <apex:outputPanel id="thePage">

        <style>

            .buttommargin{
            margin-bottom:10px;
            }
    </style>
        <apex:sectionHeader title="{!action}" subtitle="{!tempLead.name}, {!tempLead.company}" description="{!descriptionPage}" />
        <apex:form id="theBlock" onkeypress="return noenter(event)">
            <apex:actionstatus id="status">
                <apex:facet name="start">
                    <div class='overlay' style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: #ededed;">
                        &nbsp;
                    </div>
                    <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
                        <img src="/img/loading32.gif" />
                    </div>
                </apex:facet>
            </apex:actionstatus>
            <apex:pageBlock mode="Edit" id="theBlock">
                <apex:pageblockbuttons >

                    <apex:commandbutton value="Check Duplication" rendered="{!isbyPassDuplicateCheck && !isDuplicated && action!='' 
                                          && $CurrentPage.parameters.prescreen != '1' }"
                        action="{!checkDupAction}" rerender="theBlock,PreScreenBlock,showmsg,redirectpanel" status="status" />
                    <apex:commandButton value="{!buttonValue}" action="{!saveDesktop}" reRender="theBlock,showmsg"
                        status="status" rendered="{!if(action!='' 
                                          && $CurrentPage.parameters.prescreen != '1' 
                                          && !isbyPassDuplicateCheck
                                          ,true,false)}" />
                    <apex:commandButton value="Cancel" action="{!cancel}" rendered="{! !isDuplicated}" />
                </apex:pageblockbuttons>
                <apex:outputPanel rendered="{!isReassign}">
                    Lead has been assign to Queue/Person :
                    {!if(tempLead.Suggested_Person__c!=null,tempLead.Suggested_Person__c,tempLead.Suggested_Team__c)}
                    <br />
                    <apex:commandButton value="Return" action="{!backtoListView}" />
                </apex:outputPanel>

                <apex:outputPanel rendered="{! !isReassign}">
                    <apex:pageMessages id="showmsg" escape="false"></apex:pageMessages>

                    <apex:outputPanel rendered="{!isDuplicated}" id="redirectpanel">
                        <script type="text/javascript">
                            window.setTimeout("redirectpage();", 3000);

                            function redirectpage() {
                                window.location.href = '{!$Site.Prefix}' + '/' + '{!tempLead.id}';
                            }
                        </script>
                    </apex:outputPanel>


                    <apex:inputField id="rl1" value="{!tempLead.Unqualified_Action__c}" />
                    <script>
                        document.getElementById("{!$Component.rl1}").hidden = true;
                    </script>
                    <apex:actionFunction immediate="true" action="{!preScreenAction}" name="resultChange" reRender="PreScreenBlock,showmsg">
                        <!-- //Fixed: 2018Jan -->
                        <apex:param value="" name="inpPreScreenResult" />
                    </apex:actionFunction>

                   



                    <!-- <apex:actionFunction action="{!PreScreenResultChange}" name="PreScreenResultChange" reRender="PreScreenBlock"/> -->
                    <!-- #### 
                        Edit By: Danudath
                        Date: 27-02-2017
                        CR: Modify ‘Reason List’ in Lead Management
                    -->
                    <apex:pageblocksection columns="1" title="Pre-Screen" id="PreScreenBlock" rendered="{!if(action=='Pre-Screen' 
                                             && $CurrentPage.parameters.prescreen != '1' 
                                             && !isbyPassDuplicateCheck ,'true','false')}">

                         <!-- #### 
                            Edit By: I&I Narathip 
                            Date: 26-10-2018
                            CR: Fail Prescreen
                        -->
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel rendered="{!isFailedPreScreening}">{!$ObjectType.Lead.Fields.Lead_Segment__c.label}</apex:outputLabel>
                            <apex:outputText value="{!tempLead.Lead_Segment__c}" rendered="{!isFailedPreScreening}" />
                        </apex:pageBlockSectionItem>

                        <apex:pageBlockSectionItem >
                            <apex:outputLabel >Pre-Screening Result</apex:outputLabel>
                            <apex:inputfield value="{!tempLead.Pre_screening_Result__c}" required="true" onchange="LeadPreScreenResultChange(this)" />
                            <!-- <apex:inputfield value="{!tempLead.Pre_screening_Result__c}" required="true" onchange="PreScreenResultChange()"/> -->
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel styleClass="labelCustom" rendered="{!isFailedPreScreening}">Unqualified
                                Reason</apex:outputLabel>
                            <apex:inputfield value="{!tempLead.Unqualified_Reasons__c}" rendered="{!isFailedPreScreening}"
                                required="true" />
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel styleClass="labelCustom" rendered="{!isFailedPreScreening}">Sub
                                Unqualified Reason</apex:outputLabel>
                            <apex:inputfield value="{!tempLead.Sub_Unqualified_Reason__c}" rendered="{!isFailedPreScreening}"
                                required="true" />
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel styleClass="labelCustom">Other Reason</apex:outputLabel>
                            <apex:inputfield value="{!tempLead.Other_Reason__c }" style="width: 70%" />
                        </apex:pageBlockSectionItem>
                    </apex:pageblocksection>

                    <!-- end edit by danudath-->

                    <apex:outputPanel rendered="{!if(action=='Reassign' && !isbyPassDuplicateCheck,'true','false')}">
                        <table width="70%">
                            <tr>
                                <td style="text-align:left;padding-right:20px;width:25%">Suggested Segment </td>
                                <!-- td width="15px">-</td -->
                                <td width="200px">
                                    <apex:outputField value="{!tempLead.Suggested_Segment__c}" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;padding-right:20px;width:25%">Suggested Team </td>
                                <!-- td width="15px">-</td -->
                                <td width="200px">
                                    <apex:outputField value="{!tempLead.Suggested_Team__c}" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;padding-right:20px;width:25%">Suggested Person </td>
                                <!-- td width="15px">-</td -->
                                <td width="200px">
                                    <apex:outputField value="{!tempLead.Suggested_Person__c}" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;padding-right:20px;width:25%">{!$ObjectType.Lead.Fields.Remark__c.label}</td>
                                <td width="200px">
                                    <apex:inputField value="{!tempLead.Remark__c}" />
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </apex:outputPanel>

                </apex:outputPanel>

            </apex:pageBlock>

        </apex:form>

        <script type="text/javascript">
            function LeadPreScreenResultChange(e) {
                var PreScreenResult = $(e).val();

                //Fixed: 2018Jan
                resultChange(PreScreenResult);
                document.getElementById("{!$Component.showmsg}").hidden = true;
            }
        </script>

    </apex:outputPanel>

</apex:page>