<apex:page standardController="Account" extensions="AccountDetailPageExtension" sidebar="false" showHeader="false" docType="html-5.0" tabStyle="Account" standardStylesheets="true">
  <!-- Includes Js -->
    <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}" />
    <apex:includescript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}" />
    <style>
        .panelWrapper h2.mainTitle {
                font-size: 12px !important;
            }
            .sf1label {
                font-family: 'ProximaNovaSoft-Regular','Helvetica Neue';
                font-size: 13px;
                color: #696e71;
                margin: 0;
                padding: 3px 0;
                display: block;
                min-width: 100px;
            }
            .sf1value {
                font-family: 'ProximaNovaSoft-Regular','Helvetica Neue';
                font-size: 15px;
                color: #000000;
                margin: 0;
                padding-bottom: 2px;
                display: block;
                min-width: 100px;
                min-height:25px;
                border-bottom:1px solid #ccc;
            }
            textarea {
                resize: none;
            }
            .bottom{
                padding-bottom:30px;
            }
            .hasMotif{
                margin: 0;
                margin-left: -10px;
            }
            .bPageBlock.brandSecondaryBrd.bDetailBlock.secondaryPalette{
                margin-bottom: 0;
            }
            .pbHeader{
                border-top: 2px solid #8a9ebe !important;
                margin-top:10px !important
            }
            .pbTitle{
                width:100% !important;
        		padding-left: 2px !important;
            }
            
            .More {
                display:none;
            }
            
            @media (max-width: 1124px)
            {
                .CheckMobile{
                    display:block;
                    width: 47%;
                    float:left;
                    padding-left:10px;
                }
                .col {
                    width:50%;
                    float:left;
                }
                .bottom{
                    padding-bottom:30px;
                }
                .empty{
                    position:relative;
                    display:none !important;
                }
                .CheckMobile
                {
                    position:relative;
                    display:block;
                    width: 98%;
                    float:left;
                    padding-left:10px;
                }
                .CheckTablet
                {
                    width: 50%;
                    float:left;
                }
                .CheckLine
                {
                    border-bottom : 1px solid #e3deb8;
                    border-color : #ececec;
                    display:Flex;
                }
                .CheckPosition
                {
                    padding-left : 30px;
                    margin-left : 30px;
                }
                .Session
                {
                    font-size:.625rem;
                    text-transform:uppercase;
                    line-height:1.875rem;
                    font-weight:inherit;
                    background-color: #ececec;
                    display:block;
                }
                .SessionMobile
                {
                    width: 100%;
                    float:left;
                    padding-left:10px;
                    margin-bottom:5px;
                    font-family:'Salesforce Sans',Arial,sans-serif;
                    font-size:.625rem;
                    text-transform:uppercase;
                    line-height:1.875rem;
                    font-weight:inherit;
                    background-color: #ececec;
                    display:block;
                }
                .More{
                    padding-top:5px;
                    background-color:#ccc;
                    text-align:center;
                    height:25px;
                    position:fixed;
                    bottom:0;
                    display:block;
                }
            }
            @media (max-width: 670px)
            {
                .col {
                    width:100%;
                }
                .CheckTablet
                {
                    display:none;
                }
                .bottom{
                    padding-bottom:30px;
                }
                .CheckLine
                {
                    display:none;
                }
                .CheckMobile
                {
                    width: 100%;
                    float:left;
                    padding-left:10px;
                    border-bottom : 1px solid #e3deb8;
                    border-color : #ececec;
                    display:block;
                }
                .SessionMobile
                {
                    width: 100%;
                    float:left;
                    padding-left:10px;
                    margin-bottom:5px;
                    font-family:'Salesforce Sans',Arial,sans-serif;
                    font-size:.625rem;
                    text-transform:uppercase;
                    line-height:1.875rem;
                    font-weight:inherit;
                    background-color: #ececec;
                    display:block;
                }
                .Session
                {
                    display:none;
                }
                .empty{
                    display:none !important;
                }
            }
            .fontstyle
            {
                font-size: 10.35px;
                font-weight: bold;
                font-family: Arial,Helvetica,sans-serif;
            }
            .More{
                padding-top:5px;
                background-color:#ccc;
                text-align:center;
                height:25px;
                position:fixed;
                bottom:0;
            }
            .arrowDown {
                font-weight:bold;
                font-size;20px;
            }
            .noBorder{
                border:0 !important;
            }
            .col-left{
                width:45%;
                float:left;
                position:relative;
                margin-left:5%;
            }
            .col-right{
                width:40%;
                float:right;
                margin-left:5%;
            }
            .col-left-2{
                width:45%;
                float:left;
                position:relative;
                margin-left:8%;
            }
            .col-right-2{
                width:40%;
                float:right;
                margin-left:5%;
            }

            .trFirst{
                height : 20px;
            }
            .trRow{
                height : 65px;
            }
            .bPageBlock .detailList .labelCol.customWidth {
                border-bottom: 1px solid #ececec !important;
            }
            .bPageBlock .detailList .dataCol.customWidth {
                border-bottom: 1px solid #ececec !important;
                padding-left: 0px;
                padding-right: 0px;
            }
            .bPageBlock .detailList .dataCol.trLast {
                padding-left: 0px;
                padding-right: 0px;
            }
        
             .bPageBlock .dataCol {
                    padding: 0px !important;
                }
        	.bPageBlock .detailList .data2Col tr td {
                border-bottom: 0px solid #e3deb8 !important;
            }
        
        	.helpOrb {
                background-image: url(/img/help/helpOrbsDesktop.gif);
                background-position: 0 2;
                width: 7px;
                height: 7px;
            	right: -8px !important;
            	top : 4px;
            }
            
            

        
    </style>
    
    <apex:actionstatus onstart="startLoading('Loading External Data ...');" id="status" onstop="endLoading();" />
    <!-- Salesconsole JS API -->
    <apex:includescript value="/support/console/36.0/integration.js" />
    

<apex:form >
<!-- Customer Demographic For Desktop Version -->
    <apex:actionFunction name="loadDataDemographic" action="{!loadData}" rerender="Customer_Demographic, Sales_Support_Information" >
        <apex:param name="sectionName" assignTo="{!sectionName}" value="RtlCust:Customer Demographic (Low)"/>
        <apex:param name="sectionName2" assignTo="{!sectionName2}" value="RtlCust:Customer Demographic (Medium)"/>
        <apex:param name="sectionName3" assignTo="{!sectionName3}" value="RtlCust:Customer Demographic (High)"/>
        <apex:param name="sectionName4" assignTo="{!sectionName4}" value="RtlCust:WOW Reference ID"/>        
     	<apex:param name="sectionName5" assignTo="{!sectionName5}" value="RtlCust:Sales Support Information"/>        
    </apex:actionFunction>
    
    <apex:outputPanel styleClass="panelWrapper" id="Customer_Demographic" rendered="{!!isSF1}">
    <apex:pageBlock mode="maindetail" title="{!$Label.Customer_Demographic}">
        <apex:pageBlockSection columns="2">
            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible}">
                 <apex:outputLabel value="{!$ObjectType.Account.Fields.TMB_Customer_ID_PE__c.label}"></apex:outputLabel>
                <apex:outputField value="{!Account.TMB_Customer_ID_PE__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible}">
                 <apex:outputLabel value="{!$ObjectType.Account.Fields.TMB_Customer_ID_PE__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible_B}">
                 <apex:outputLabel value="{!$ObjectType.Account.Fields.Nationality__c.label}"></apex:outputLabel>
                <apex:outputField value="{!Account.Nationality__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible_B}">
                 <apex:outputLabel value="{!$ObjectType.Account.Fields.Nationality__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>

        </apex:pageBlockSection>
        <apex:pageBlockSection columns="2">
            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Customer_Title__c.label}"></apex:outputLabel>
                <apex:outputField value="{!Account.RTL_Customer_Title__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Customer_Title__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible_B}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Date_Of_Birth__c.label}"></apex:outputLabel>
                <apex:outputField value="{!Account.RTL_Date_Of_Birth__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible_B}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Date_Of_Birth__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>

        </apex:pageBlockSection>
        <apex:pageBlockSection columns="2">
            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.First_name_PE__c.label}"></apex:outputLabel>
                <apex:outputField value="{!Account.First_name_PE__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.First_name_PE__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible_B}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Age__c.label}"></apex:outputLabel>
                <apex:outputField value="{!Account.RTL_Age__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible_B}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Age__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>

        <apex:pageBlockSection columns="2">
            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.Last_name_PE__c.label}"></apex:outputLabel>
                <apex:outputField value="{!Account.Last_name_PE__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.Last_name_PE__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible_B}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Income_Conditional__c.label}"></apex:outputLabel>
                <apex:outputField value="{!Account.RTL_Income_Conditional__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible_B}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Income_Conditional__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="2">
            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.Customer_Name_PE_Eng__c.label}"></apex:outputLabel>
                <apex:outputField value="{!Account.Customer_Name_PE_Eng__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.Customer_Name_PE_Eng__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible_C}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_No_of_Children__c.label}"></apex:outputLabel>
                <apex:outputField value="{!Account.RTL_No_of_Children__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible_C}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_No_of_Children__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>

        <apex:pageBlockSection columns="2">
            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.ID_Type_PE__c.label}"></apex:outputLabel>
                <apex:outputField value="{!Account.ID_Type_PE__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.ID_Type_PE__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible_C}">
                <apex:outputLabel value="{!$Label.Marital_Status}"></apex:outputLabel>
                <apex:outputField value="{!Account.RTL_Marital_Details__r.Marital_Status_Desc__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible_C}">
                <apex:outputLabel value="{!$Label.Marital_Status}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
         <apex:pageBlockSection columns="2">
            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth">
                <apex:outputText >&nbsp;</apex:outputText>
                <apex:outputText >&nbsp;</apex:outputText>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible_C}">
                <apex:outputLabel value="{!$Label.Occupation}"></apex:outputLabel>
                <apex:outputField value="{!Account.RTL_Occupation_Details__r.RTL_Occupation_Desc__c}"/>
            </apex:pageBlockSectionItem>

             <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible_C}">
                <apex:outputLabel value="{!$Label.Occupation}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="2">
            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth">
                <apex:outputText >&nbsp;</apex:outputText>
                <apex:outputText >&nbsp;</apex:outputText>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!isVisible_C}">
                <apex:outputLabel value="{!$Label.Education_Level}"/>
                <apex:outputText value="{!Account.RTL_Education_Details__r.RTL_Education_Level_Desc__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem labelStyleClass="customWidth" dataStyleClass="trFirst customWidth" rendered="{!!isVisible_C}">
                <apex:outputLabel value="{!$Label.Education_Level}"/>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="2">
            <apex:pageBlockSectionItem rendered="{!isVisible}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.NID__c.label}"/>
                <apex:outputText value="{!Account.NID__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem rendered="{!!isVisible}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.NID__c.label}"/>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem rendered="{!isVisible_D}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Customer_Reference_Id__c.label}"/>
                <apex:outputText value="{!Account.RTL_Customer_Reference_Id__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem rendered="{!!isVisible_D}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Customer_Reference_Id__c.label}"/>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
    </apex:pageBlock>
    </apex:outputPanel>
    <!-- For Salesforce1 Version -->
    <!--<apex:outputPanel rendered="{!isSF1}">
            <p class="sf1label">{!$Label.Marital_Status}</p>
            <p class="sf1value">{! Account.RTL_Marital_Details__r.Marital_Status_Desc__c }</p>
            <p class="sf1label">{!$Label.Occupation}</p>
            <p class="sf1value">{! Account.RTL_Occupation_Details__r.RTL_Occupation_Desc__c }</p>
            <p class="sf1label">{!$Label.Education_Level}</p>
            <p class="sf1value">{! Account.RTL_Education_Details__r.RTL_Education_Level_Desc__c }</p>
  </apex:outputPanel>-->
    <apex:actionFunction name="loadDataDemographicMobile" action="{!loadData}" rerender="Customer_Demographic_Mobile" >
        <apex:param name="sectionName" assignTo="{!sectionName}" value="RtlCust:Customer Demographic (Low)"/>
        <apex:param name="sectionName2" assignTo="{!sectionName2}" value="RtlCust:Customer Demographic (Medium)"/>
        <apex:param name="sectionName3" assignTo="{!sectionName3}" value="RtlCust:Customer Demographic (High)"/>
        <apex:param name="sectionName4" assignTo="{!sectionName4}" value="RtlCust:WOW Reference ID"/>
        <apex:param name="sectionName5" assignTo="{!sectionName5}" value="RtlCust:Sales Support Information"/>
            
    </apex:actionFunction>

    <apex:outputPanel id="Customer_Demographic_Mobile" rendered="{!isSF1}">
            <div class="SessionMobile">{!$Label.Customer_Demographic}</div>
			
        <div class="col">
            <div class="CheckMobile" >
                 <p class="sf1label">{!$ObjectType.Account.Fields.TMB_Customer_ID_PE__c.label}</p>
                <apex:outputPanel rendered="{!isVisible}">
                <p class="sf1value">{!Account.TMB_Customer_ID_PE__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
            
            <div class="CheckMobile" >
                <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Customer_Title__c.label}</p>
                <apex:outputPanel rendered="{!isVisible}">
                <p class="sf1value">{!Account.RTL_Customer_Title__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
        
        	<div class="CheckMobile" >
                <p class="sf1label">{!$ObjectType.Account.Fields.First_name_PE__c.label}</p>
                <apex:outputPanel rendered="{!isVisible}">
                <p class="sf1value">{!Account.First_name_PE__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
        
        	<div class="CheckMobile" >
                <p class="sf1label">{!$ObjectType.Account.Fields.Last_name_PE__c.label}</p>
                <apex:outputPanel rendered="{!isVisible}">
                <p class="sf1value">{!Account.Last_name_PE__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
        
        <div class="CheckMobile" >
                <p class="sf1label">{!$ObjectType.Account.Fields.Customer_Name_PE_Eng__c.label}</p>
                <apex:outputPanel rendered="{!isVisible}">
                <p class="sf1value">{!Account.Customer_Name_PE_Eng__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
        
        <div class="CheckMobile" >
                <p class="sf1label">{!$ObjectType.Account.Fields.ID_Type_PE__c.label}</p>
                <apex:outputPanel rendered="{!isVisible}">
                <p class="sf1value">{!Account.ID_Type_PE__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
        
        <div class="CheckMobile empty" >
                <p class="sf1label">
                	<apex:outputText >&nbsp;</apex:outputText>
                </p>
                <apex:outputPanel >
                <p class="sf1value">
                	<apex:outputText >&nbsp;</apex:outputText>
                </p>
                </apex:outputPanel>
            </div>
        <div class="CheckMobile empty" >
                <p class="sf1label">
                	<apex:outputText >&nbsp;</apex:outputText>
                </p>
                <apex:outputPanel >
                <p class="sf1value">
                	<apex:outputText >&nbsp;</apex:outputText>
                </p>
                </apex:outputPanel>
            </div>
        
        <div class="CheckMobile" >
                <p class="sf1label">{!$ObjectType.Account.Fields.NID__c.label}</p>
                <apex:outputPanel rendered="{!isVisible}">
                <p class="sf1value">{!Account.NID__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
        </div>
        <!-- Start Right column -->
        <div class="col">
        <div class="CheckMobile" >
                 <p class="sf1label">{!$ObjectType.Account.Fields.Nationality__c.label}</p>
                <apex:outputPanel rendered="{!isVisible_B}">
                <p class="sf1value">{!Account.Nationality__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible_B}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
        
            <div class="CheckMobile" >
                <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Date_Of_Birth__c.label}</p>
                <apex:outputPanel rendered="{!isVisible_B}">
                <p class="sf1value">
                    <apex:outputField value="{!Account.RTL_Date_Of_Birth__c}"/>
                </p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible_B}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
            
            <div class="CheckMobile" >
                <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Age__c.label}</p>
                <apex:outputPanel rendered="{!isVisible_B}">
                <p class="sf1value">{!Account.RTL_Age__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible_B}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
                        
            <div class="CheckMobile" >
                <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Income_Conditional__c.label}</p>
                <apex:outputPanel rendered="{!isVisible_B}">
                <p class="sf1value"><apex:outputField value="{!Account.RTL_Income_Conditional__c}"/></p>
                </apex:outputPanel>
        <apex:outputPanel rendered="{!!isVisible_B}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
        </div>
            
            <div class="CheckMobile" >
                <p class="sf1label">{!$ObjectType.Account.Fields.RTL_No_of_Children__c.label}</p>
                <apex:outputPanel rendered="{!isVisible_C}">
                <p class="sf1value">{!Account.RTL_No_of_Children__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible_C}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
            
            <div class="CheckMobile" >
                <p class="sf1label">{!$Label.Marital_Status}</p>
                <apex:outputPanel rendered="{!isVisible_C}">
                <p class="sf1value">{!Account.RTL_Marital_Details__r.Marital_Status_Desc__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible_C}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
        	
            <div class="CheckMobile" >
                <p class="sf1label">{!$Label.Occupation}</p>
                <apex:outputPanel rendered="{!isVisible_C}">
                <p class="sf1value">{!Account.RTL_Occupation_Details__r.RTL_Occupation_Desc__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible_C}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
        	
            <div class="CheckMobile" >
                <p class="sf1label">{!$Label.Education_Level}</p>
                <apex:outputPanel rendered="{!isVisible_C}">
                <p class="sf1value">{!Account.RTL_Education_Details__r.RTL_Education_Level_Desc__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible_C}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
            
            <div class="CheckMobile" >
                <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Customer_Reference_Id__c.label}</p>
                <apex:outputPanel rendered="{!isVisible_D}">
                <p class="sf1value">{!Account.RTL_Customer_Reference_Id__c}</p>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!!isVisible_D}">
                <p class="sf1value">{!hiddenText}</p>
                </apex:outputPanel>
            </div>
        </div>
        <div class="CheckMobile More">
                <p class="sf1label"><span class="glyphicon glyphicon-search arrowDown" aria-hidden="true">v</span> More detail.</p>
            </div>
    </apex:outputPanel>
</apex:form>

<apex:form >
  <!--  <apex:actionFunction name="loadDataSales" action="{!loadData}" rerender="Sales_Support_Information" >
     <apex:param name="sectionName" assignTo="{!sectionName}" value="RtlCust:Sales Support Information"/>        
     </apex:actionFunction>-->
    <!-- Sales Support Information  -->
    <!--
    <apex:outputPanel id="Sales_Support_Information" rendered="{!!isSF1}">
    <apex:pageBlock mode="maindetail" title="{!$Label.Sales_Support_Information}">
        <apex:pageBlockSection columns="2">
            <apex:pageBlockSectionItem rendered="{!isVisible_E}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.FATCA__c.label}"></apex:outputLabel>
                <apex:outputField value="{!account.FATCA__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem rendered="{!!isVisible_E}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.FATCA__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem rendered="{!isVisible_E}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Risk_Level__c.label}"></apex:outputLabel>
                <apex:outputField value="{!account.RTL_Risk_Level__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem rendered="{!!isVisible_E}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Risk_Level__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem rendered="{!isVisible_E}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Credit_Card_History__c.label}"></apex:outputLabel>
                <apex:outputField value="{!account.RTL_Credit_Card_History__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem rendered="{!!isVisible_E}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Credit_Card_History__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem rendered="{!isVisible_E}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Personal_Loan_History__c.label}"></apex:outputLabel>
                <apex:outputField value="{!account.RTL_Personal_Loan_History__c}"/>
            </apex:pageBlockSectionItem>

            <apex:pageBlockSectionItem rendered="{!!isVisible_E}">
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Personal_Loan_History__c.label}"></apex:outputLabel>
                <apex:outputText value="{!hiddenText}"/>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
    </apex:pageBlock>
  </apex:outputPanel>
-->
  <!--   <apex:actionFunction name="loadDataSalesMobile" action="{!loadData}" rerender="Sales_Support_Information_Mobile" >
     	<apex:param name="sectionName" assignTo="{!sectionName}" value="RtlCust:Sales Support Information"/>            
     </apex:actionFunction> -->
    <!-- Sales Support Information  -->
    <!-- Disable for Csv wealth
    <apex:outputPanel id="Sales_Support_Information_Mobile" rendered="{!isSF1}">
        <apex:outputPanel rendered="{!isVisible_E}">
            <div class="SessionMobile">{!$Label.Sales_Support_Information}</div>
            <div class="CheckMobile" >
                            <p class="sf1label">{!$ObjectType.Account.Fields.FATCA__c.label}</p>
                            <p class="sf1value">{!account.FATCA__c}</p>
                        </div>
                        <div class="CheckMobile" >
                            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Risk_Level__c.label}</p>
                            <p class="sf1value">{!account.RTL_Risk_Level__c}</p>
                        </div>
                        <div class="CheckMobile">
                            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Credit_Card_History__c.label}</p>
                            <p class="sf1value noBorder">
                            <apex:outputText escape="false" value="{!account.RTL_Credit_Card_History__c}"/>
                            </p>
                        </div>
                        <div class="CheckMobile" >
                            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Personal_Loan_History__c.label}</p>
                            <p class="sf1value noBorder">
                            <apex:outputText escape="false" value="{!account.RTL_Personal_Loan_History__c}"/>
                            </p>
                        </div>
        </apex:outputPanel>

        <apex:outputPanel rendered="{!!isVisible_E}">
            <div class="SessionMobile">{!$Label.Sales_Support_Information}</div>
                        <div class="CheckMobile" >
                            <p class="sf1label">{!$ObjectType.Account.Fields.FATCA__c.label}</p>
                            <p class="sf1value">{!hiddenText}</p>
                        </div>
                        <div class="CheckMobile" >
                            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Risk_Level__c.label}</p>
                            <p class="sf1value">{!hiddenText}</p>
                        </div>
                        <div class="CheckMobile" >
                            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Credit_Card_History__c.label}</p>
                            <p class="sf1value">{!hiddenText}</p>
                        </div>
                        <div class="CheckMobile" >
                            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Personal_Loan_History__c.label}</p>
                            <p class="sf1value">{!hiddenText}</p>
                        </div>
        </apex:outputPanel>
    </apex:outputPanel>
    -->
    <!--
  <apex:outputPanel rendered="{!isSF1}">
            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Suitability__c.label}</p>
            <p class="sf1value">{!rtl_Suitability}</p>
            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_MIB_Status__c.label}</p>
            <p class="sf1value">{!rtl_MibStatus}</p>
            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_OTC_ATM_ADM_IB_MIB__c.label}<br>{!$Label.OTC_ATM_ADM_IB_MIB}</br></p>
            <p class="sf1value">{!rtl_OtcAtmAdmIbMib}</p>
            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Privilege_URL2__c.label}</p>
            <p class="sf1value"><apex:outputLink onclick="redirectExternalURL('{!rtl_Privilege2Url}','{!$ObjectType.Account.Fields.RTL_Privilege_URL2__c.label}');return false;" rendered="{!rtl_Privilege2Url != null}" >{!$Label.RTL_Click_Here}</apex:outputLink></p>
            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Entitled_Privilege2__c.label}</p>
            <p class="sf1value">{!rtl_entitledPrivilege2}</p>
            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Privilege2__c.label}</p>
            <p class="sf1value">{!rtl_currentPrivilege2}</p>
  </apex:outputPanel>
-->
  <!-- End Default Content REMOVE THIS -->
  </apex:form>


    <script>
    // Global variable
    var _isInConsole = false;
    var _isInSF1 = false;
    var _primaryTabId ='';
    var _tabid;
    var _subTabId;
    var _customername = 'account';

    function startLoading(text){
        $('#load_scrl').css('top', $(document).scrollTop() + 200).html(text);
        $('.loadingBox').show();
    }
    function endLoading(){
        $('.loadingBox').hide();
        hideNormalLink();
    }
    function redirectURL(url,pageName){
            if(_isInConsole){
                // In Sales Console
                OpenTabPage(url,pageName);

            }else if(_isInSF1){
                //In Salesforce1
                sforce.one.navigateToURL(url);
            }else{
                //Desktop Version
                window.open(url,'_blank');
            }
            //endLoading();
     }
    /*-------------------------------------------------------------------------
            Salesforce :  Sale Console Js
        ---------------------------------------------------------------------------*/
    function IsInConsole() {
        if (sforce.console.isInConsole()) {
            _isInConsole = true;
            _isInSF1 = false;
            // Then get primary tab id
            sforce.console.getFocusedPrimaryTabId (MainTabId);
            sforce.console.getFocusedSubtabId(callCloseTab);
            //sforce.console.setTabTitle(_customername);
            sforce.console.getEnclosingTabId(callCloseTab);

        }
        // Ref. https://developer.salesforce.com/docs/atlas.en-us.salesforce1.meta/salesforce1/vf_dev_best_practices_pages_multipurpose.htm
        else if( (typeof sforce != 'undefined') && sforce && (!!sforce.one) ) {
            _isInConsole = false;
            _isInSF1 = true;

        }
        else {
            _isInConsole = false;
            _isInSF1 = false;
        }

        console.log('_isInConsole = ' +  _isInConsole);
        console.log('_isInSF1 = ' +  _isInSF1);


    }
    function OpenTabPage(url,pagename){
        // Open new sub tab
        sforce.console.openSubtab(_primaryTabId , url, true, pagename,null,openSuccess);
    }


    var MainTabId = function getMainTabId(result  /* primary tab info */) {
        //Now that we have the primary tab ID, we can open a new subtab in it
        _primaryTabId = result.id;
        console.log(_primaryTabId);
    };


    var openSuccess = function openSuccess(result) {
        //Report whether we succeeded in opening the subtab
        if (result.success == true) {

        } else {

        }
    };

     //The callback function that closeTab will call once it has the ID for its tab
        var callCloseTab= function callCloseTab(result) {
            console.log('subtabid  ' + result.id);

            _subTabId = result.id;
        };

    function redirectExternalURL(url,pageName){
         if(sforce.console.isInConsole()){
             // In Sales Console
             //OpenTabPage(url,pageName);
             //the external URL must be whitelisted domain in "retail sales console"
             //use null (_primaryTabId) to open a new primary tab
             //sforce.console.openPrimaryTab(null , url, true, pageName,openSuccess);
             window.open(url,'_blank');
         }else if((typeof sforce != 'undefined') && sforce && (!!sforce.one)){
             //In Salesforce1
             sforce.one.navigateToURL(url);
         }else{
             //Desktop Version
             //window.location.href = url;
             console.log('url' + url);
             window.open(url,'_blank');
         }
     }
    /*-------------------------------------------------------------------------
            Salesforce :  Main Function
        ---------------------------------------------------------------------------*/


    $(document).ready(function () {


        if ((typeof sforce.one != 'undefined') && (sforce.one != null) ) {
            loadDataDemographicMobile();
            //loadDataSalesMobile();
        }else{
            loadDataDemographic();
            //loadDataSales();
        }
        //Check Application
        IsInConsole();

			if (jQuery(document).height() <= jQuery(window).height()){
            	jQuery('.More').fadeOut("slow");
            }
            
            window.addEventListener('touchmove', function() {
                if (jQuery(document).height() <= (jQuery(window).height() + jQuery(window).scrollTop())) {
                    jQuery('.More').fadeOut("slow");
                }else{
                    jQuery(".More").fadeIn("slow");
                }                    
            });
            
            jQuery(window).scroll(function() {
                if (jQuery(document).height() <= (jQuery(window).height() + jQuery(window).scrollTop()+20)) {
                    jQuery('.More').fadeOut("slow");            
                }else{
                    jQuery(".More").fadeIn("slow");
                }
            });
    });
    </script>
 </apex:page>