<apex:page standardController="Account" extensions="RTL_CampaignHistoryExtension" showHeader="false" sidebar="false">

<apex:outputPanel id="custReqTable">
	<apex:form >

		 		<div class="slds-form-element slds-m-around_small"  id="responsive" >

		 			<div class="slds-m-top_xxx-small">
		 				<div class="slds-grid">
						  <div class="slds-col">
							<div class="slds-text-heading_x-small">
								{!$Label.RTL_Campaign_History_Campaing_CustReq}
							</div>
						  </div>
						  <div class="slds-col_bump-left">
						  	<!-- <a href="{!campaignLiteURL}" id="theLink" target="_blank">
						  		{!$Label.RTL_Campaign_History_Campaing_Lite_Link}
						  	</a> -->
						  </div>
						</div>
		 			 	
		 			</div>

		 	<apex:outputPanel rendered="{!(ISNULL(customerRequestCampaign) || customerRequestCampaign.size == 0)}" >
		                <div class="slds-m-top_xxx-small slds-p-around_x-small slds-border_top slds-border_bottom">
		                    <apex:outputText value="{!$Label.RTL_No_Record_Display}"  styleClass="noRowsHeader" />
		                </div>
		    </apex:outputPanel>

		    <apex:outputPanel rendered="{! (!ISNULL(customerRequestCampaign) && customerRequestCampaign.size > 0)}" >

			 		<div class="slds-m-top_xxx-small">
			            <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-max-medium-table--stacked-horizontal slds-table_fixed-layout" style="text-align: center;font-size: 12px; width: 100%;">
			                <thead>
			                    <tr class="slds-text-title--caps slds-section-title--divider">
			                        <th class="slds-size_1-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignMemberLinkHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignMemberLinkHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_1-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignCodeHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignCodeHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_3-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignNameHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignNameHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_1-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignStartDateHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignStartDateHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_1-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignEndDateHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignEndDateHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_1-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignStatusHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignStatusHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_1-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignChannelHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignChannelHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_1-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignOfferResultCRMHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignOfferResultCRMHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_3-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignOfferResultCTHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignOfferResultCTHeader}
			                            </div>
			                        </th>
			                    </tr>
			                </thead>
			                <tbody>
			                   <apex:repeat value="{!customerRequestCampaign}" var="lcm" >

			                            <tr class="dataRow">

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignMemberLinkHeader}" > 
			                                    <div class="slds-cell-wrap" title="">
			                                    	<apex:outputLink value="/{!lcm.id}" onClick="openTab('?id={!lcm.id}','/apex/RTl_viewCampaignmember','Campaign Member');return false" >{!$Label.RTL_Campaign_History_ViewDetail}</apex:outputLink>
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignCodeHeader}" > 
			                                    <div class="slds-cell-wrap" title="{!lcm.Campaign.RTL_Campaign_Code_10_digits__c}">
			                                    	<apex:outputText value="{!lcm.Campaign.RTL_Campaign_Code_10_digits__c}" />  
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignNameHeader}" > 
			                                    <div class="slds-cell-wrap" title="{!lcm.Campaign.Name}">
			                                       <apex:outputField value="{!lcm.CampaignId}" />
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignStartDateHeader}" > 
			                                    <div class="slds-cell-wrap" title="">
			                                    	<apex:outputField value="{!lcm.Campaign.StartDate}"/>
			                                     <!--   <apex:outputText value="{0,date, dd MMMM yyyy}"> 
		                                                <apex:param value="{!lcm.Campaign.StartDate}" /> 
		                                            </apex:outputText> -->
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignEndDateHeader}" > 
			                                    <div class="slds-cell-wrap" title="">
			                                    	<apex:outputField value="{!lcm.Campaign.EndDate}"/>
			                                       <!-- <apex:outputText value="{0,date, dd MMMM yyyy}"> 
		                                                <apex:param value="{!lcm.Campaign.EndDate}" /> 
		                                            </apex:outputText>   -->
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignStatusHeader}" > 
			                                    <div class="slds-cell-wrap" title="{!lcm.Campaign.status}">
			                                       <apex:outputField value="{!lcm.Campaign.status}" />  
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignChannelHeader}" > 
			                                    <div class="slds-cell-wrap" title="{!lcm.Campaign.RTL_Campaign_Channel_formula__c}">
			                                       <apex:outputField value="{!lcm.Campaign.RTL_Campaign_Channel_formula__c}" />  
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignOfferResultCRMHeader}" > 
			                                    <div class="slds-cell-wrap" title="{!lcm.RTL_Offer_Result__c}">
			                                       <apex:outputField value="{!lcm.RTL_Offer_Result__c}" />  
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignOfferResultCTHeader}" > 
			                                	<div class="slds-cell-wrap" title="{!lcm.RTL_Offer_Result_CC__c}">
			                                       <apex:outputField value="{!lcm.RTL_Offer_Result_CC__c}" />  
			                                    </div>
			                                </td>
			                           
			                            </tr>
			                        <!-- <apex:variable var="rowNum" value="{!rowNum + 1}" /> -->
			                    </apex:repeat>
			                </tbody>	
			            </table>
			        </div>
			        <div class="slds-m-top_small">
		 				<div class="slds-grid">
				 			<div class="slds-align_absolute-center">
		 						<div class="slds-grid slds-grid_vertical-align-start">
		 							<div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
				 						<apex:commandLink action="{!previousCustomerRequest}" rendered="{! !disablePreviousCustomerRequeste}" value="{!$Label.RTL_Campaign_History_Previous}" status="loadStatus" reRender="custReqTable" /> 
				 						<apex:outputText value="{!$Label.RTL_Campaign_History_Previous}" rendered="{! disablePreviousCustomerRequeste}" />  
				 					</div>

					 				<!-- <apex:repeat value="{!customerRequestPageList}" var="page">
					 					<div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
					 						<apex:commandLink rendered="{! If(page!=customerRequestCampaignPage,true,false) }" 
					 							value="{!page}" status="loadStatus" reRender="custReqTable" 
					 							onclick="navigateCustomerRequest({!page})"
					 						/> 
					 						<apex:outputText value="{!page}" rendered="{! If(page!=customerRequestCampaignPage,false,true) }" />  
					 					</div>
					 				</apex:repeat> -->
					 				<apex:repeat value="{!customerRequestPagination}" var="page">
					 					<div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
					 						<apex:commandLink rendered="{! If(page!=customerRequestCampaignPage,true,false) }" 
					 							value="{!If(page==-1,'',page)}" reRender="custReqTable" 
					 							onclick="navigateCustomerRequest({!page});return false;"
					 						/> 
					 						<apex:outputText value="{!page}" rendered="{! If(page!=customerRequestCampaignPage,false,true) }" />  
					 						<apex:outputText value="{!If(page==-1,'...',page)}" rendered="{! If(page!=-1,false,true) }" /> 
					 					</div>
					 				</apex:repeat>

				 					<div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
				 						<apex:commandLink action="{!nextCustomerRequest}" rendered="{! !disableNextCustomerRequest}" value="{!$Label.RTL_Campaign_History_Next}" status="loadStatus" reRender="custReqTable" />
				 						<apex:outputText value="{!$Label.RTL_Campaign_History_Next}" rendered="{! disableNextCustomerRequest}" />   
				 					</div>


				 				</div>

						 				
					 		</div>
					 		<div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-col_bump-left">
		 						{!$Label.RTL_Campaign_History_Page} {!customerRequestCampaignPage} {!$Label.RTL_Campaign_History_Of} {!customerRequestCampaignTotalPage}
		 					</div>
					 	</div>
			 		</div>
		 	</apex:outputPanel>
				</div> 


		<apex:actionFunction name="navigateCustomerRequest" action="{!navigateCustomerRequest}" reRender="custReqTable" status="loadStatus">
		    <apex:param name="pageNo" assignTo="{!customerRequestCampaignPage}" value=""/>
		</apex:actionFunction>
      
    </apex:form>
</apex:outputPanel>	

</apex:page>