<apex:page standardController="Opportunity" extensions="ValidateOpportunityProxyController" recordSetVar="Opportunities" showChat="false" showHeader="false">
    <apex:includeScript value="/support/console/44.0/integration.js"/>
    <apex:includeScript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}"  />
    
    <style>
        .overlay {
            display: none;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            opacity: 0.3;
            -moz-opacity: 0.3;
            width: 100%;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            background: #000;
            -khtml-opacity: 0.3;
            z-index: 1000;
        }
        .loader {
            background: url('/img/loading32.gif') scroll no-repeat 0 0;
            width: 32px;
            height: 32px;
            position: absolute;
            left: 50%;
        }
        .red-label {
            list-style: none;
            color: #f00;
        }
    </style>

    <div id="load_scrl" class="loadingBox loader" style="display:none"></div>
    
    <div class="loadingBox overlay"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            startLoading('Loading....');
            redirectPage();
        });
        function startLoading(text){
            $('#load_scrl').css('top', $(document).scrollTop() + 200).html(text);
            $('.loadingBox').show();
        }
        function endLoading(){
            $('.loadingBox').hide();
        }
    </script>
    
    <apex:form id="block">
        <!-- <apex:outputText value="{!recID}"/>
        <apex:outputText value="{!currentUserProfile.name}"/>
        <apex:outputText value="{!ValidateOptyFag}"/>

        <apex:outputText value="leadlst size"/>
        <apex:outputText value="{!leadSize}"/>

        <apex:outputText value="referallst size"/>
        <apex:outputText value="{!referSize}"/>

        <apex:outputText value="opptylst size"/>
        <apex:outputText value="{!optySize}"/> -->
         
        <apex:actionFunction name="onReady" action="{!ValidateOpty}" reRender="block" oncomplete=""/>
    </apex:form>

    <script type="text/javascript">
        function redirectPage(){
            var theme = '{!$User.UIThemeDisplayed}';
            var url;
            if('{!ValidateOptyFag}' == 'true'){
                url = '{!URLFOR($Action.Opportunity.New, null, [retURL=recID, accid=recID], true)}';
            }else{
                url = '/apex/ValidateOpportunityPage?AccountId={!recID}';
            }

            console.log('theme :: '+theme);

            //Salesforce console mode
            if(sforce.console.isInConsole()){
                console.log('new window in console mode');
                sforce.console.getEnclosingTabId(function (result) {
                    console.log(result);
                    if(result){
                        this.subId = result.id;
                        sforce.console.getEnclosingPrimaryTabId(function (primarytab) {
                            var label;
                            console.log('OPRN SUBTAB : ', primarytab);
                            sforce.console.openSubtab(primarytab.id, url, true, label, null, function(result){
                                //console.log('open subtab result : ');
                                //console.log(result);
                                // onReady();
                                endLoading();
                                if(theme != 'Theme4u')
                                {
                                    window.location.href = '/{!recId}';
                                }
                                // window.location.href = '/{!recId}';
                                console.log('/{!recId}');
                            }, null);
                            // sforce.console.closeTab(this.subId);
                        });
                    }
                });
            }
            //Salesforce classic theme OR Lightning Expericence theme
            else if(theme == 'Theme3' || theme == 'Theme4d'){
                console.log('new window in classic');
                endLoading();
                window.location = url;
            }
            //Salesforce1 mobile theme
            else if(theme == 'Theme4t'){
                console.log('new window mobile theme');
                endLoading();
                sforce.one.navigateToURL(url);
            }
        }
    </script>
</apex:page>