<apex:page standardController="Call_Report__c" extensions="VisitCheckInCheckOut" action="{!CheckIn}" standardStylesheets="true">

<!--<br/>visitid = {!VisitId}
<br/>type = {!CheckType}
<br/>lon = {!lon}
<br/>lat = {!lat} -->

<script>
function backPage()
{
    sforce.one.navigateToSObject('{!VisitId}');
}
</script>

<table>
<tr>
    <td style=""><apex:pagemessages ></apex:pagemessages></td>
</tr>
    <tr>
        <td style="">
     <apex:map width="300px" height="200px" mapType="roadmap" zoomLevel="15" rendered="{!ShowMap}"
    center="{latitude: {!lat}, longitude: {!lon}}">
    </apex:map>
        </td>
    </tr>
<tr>
    <td style="padding-left:20px">
        <apex:form >
            <apex:commandButton onclick="backPage(); return false;" value="Back To Visit Page"/>
        </apex:form>
    </td>
</tr>
</table>
    
<body style="font-family: Arial; border: 0 none;">
    <div id="map-canvas"></div>
</body>

</apex:page>