<template>
    <span class={loadingDisplay}>
        <div id="spinnerDiv" class="demo-only demo--inverse" >
            <div class="slds-spinner_container">
                <div role="status" class="slds-spinner slds-spinner_medium">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
    </span>
    <div class={bgDisplay}>
        <header>
            <div class="unsupported">
                <img src={imageResource.notSupport} /><br>
                <h2>
                    Your device is not supported, please upgrade your device if you want to take this journey with us!
                </h2>
            </div>
            <div class="orientation">
                <img src={imageResource.orientation} /><br>
                <h2>
                    Sorry! The page can't be displayed on your monitor or device.<br>Please try rotating your device to portrait mode, or enlarge your browser window to continue.
                </h2>
            </div>
            <div class="topbar" style="background: rgb(225, 244, 253); z-index: 1000; top: 0px;">
                <a href="javascript:void(0)" onclick={exitPage} class="float-right cta hvr-fade" name="exit" id="exit" style="opacity: 1;"><h2>Exit</h2></a>
                <img src={imageResource.logo} class="logo" />
                <a href="javascript:void(0)" class="float-left cta hvr-fade" style="opacity: 0; cursor:default;" id="previous"><h2>Back</h2></a>
            </div>
        </header>
        <main>
            <!-- Section Not Support -->
            <section class="too-small">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                        <div class="col-8">
                            <div class="frown text-center">
                                <img src={imageResource.hurt} class="img-fluid" />
                            </div>
                            <div class="dizzy text-center">
                                <img src={imageResource.dead} class="img-fluid" />
                            </div>
                            <div class="box">
                                <h1>
                                    Your device is not supported, please upgrade your device if you want to take this journey with us!
                                    <br/>
                                        <i class="fas fa-mobile-alt">
                                    </i>
                                </h1>
                            </div>
                        </div>
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                </div>
            </section>
            <section class="questions" style="overflow-y: scroll; position: static; scroll-behavior: smooth;">
                <div class="products" data-id="highlight-products">
                    <!-- ontop -->
                    <h1 class="display-4" id="ontop"><img src={imageResource.star} class="img-fluid" /> {headerTitle} <img src={imageResource.star} class="img-fluid" /></h1>
                    <h1 class="display-4"  style="color: rgb(0, 122, 188);font-family: helvethaicaX-bold, sans-serif;"> {avatar.Avatar_TH__c} </h1>
                    <div class={isHighlight}>
                        <!-- <h1 class="display-4"  style="color: rgb(0, 122, 188);font-family: helvethaicaX-bold, sans-serif;">Product Highlights</h1> -->

                        <div class="container">
                            <div class="row">
                                <template for:each={lstProductHighlight} for:item='item' for:index="index">
                                    <div class="col-lg-3" key={item.product.Id}>
                                        <div class="card" data-productid={item.product.Product__r.Id} onclick={gotoProductDetail} style="cursor: pointer;">                   
                                            <div class="placeholder">
                                                <!-- preLoad  onload={preLoadImagesH}-->
                                                <!-- <template if:false={preImgHighlight}> -->
                                                    <img src={item.preLoad} data-src-id-preload-highlight={item.product.Id} data-src-highlight={item.thumbnail} data-default-src-highlight={item.preLoad} class="img-fluid" alt="original image" />
                                                    <img src={item.thumbnail} data-src-id-thumbnail-highlight={item.product.Id} onload={preLoadImagesH} data-src-highlight={item.thumbnail} data-default-src-highlight={item.preLoad} class="img-fluid hideLoading" alt="original image" />
                                                <!-- </template>
                                                <template if:true={preImgHighlight}>
                                                    <img src={item.thumbnail} data-src-highlight={item.thumbnail} data-default-src-highlight={item.preLoad} class="img-fluid" alt="original image" />
                                                </template> -->
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title" style="padding-top: 10px;">{item.product.Product__r.FNA_Product_Name_TH__c}</h5>
                                                <p class="card-text">{item.product.Product__r.FNA_Product_Summary__c}</p>
                                                <a href="#" data-id={item.product.Id} name={index} >เพิ่มเติม <i class="fas fa-chevron-right icons" style="font-size: 0.8rem;"></i></a>
                                            	<div class="tags">
                                                    <span>
                                                        <i class={item.cssTag} data-product-group={item.product.Product__r.FNA_Product_Group_TH__c} ></i> {item.product.Product__r.FNA_Product_Group_TH__c}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div class={isNormal} data-id="extForyou">
                        <hr class={isLine}>
                        <h1 class="display-4" style="color: #007abc;font-family: helvethaicaX-bold,sans-serif;">ผลิตภัณฑ์อื่นๆ ที่เหมาะกับคุณ</h1>
                        <div class="container">
                            <div class="row">
                                <template for:each={lstProductNormal} for:item='item' for:index="index">
                                    <div class="col-lg-3" key={item.product.Id}>
                                        <div class="card" data-productid={item.product.Product__r.Id} onclick={gotoProductDetail} style="cursor: pointer;">
                                            <div class="placeholder">
                                                <img src={item.preLoad} data-src-id-preload-normal={item.product.Id} data-src-normal={item.thumbnail} data-default-src-normal={item.preLoad} class="img-fluid" alt="original image" />
                                                <img src={item.thumbnail} data-src-id-thumbnail-normal={item.product.Id} onload={preLoadImagesN} data-src-normal={item.thumbnail} data-default-src-normal={item.preLoad} class="img-fluid hideLoading" alt="original image" />
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title" style="padding-top: 10px;">{item.product.Product__r.FNA_Product_Name_TH__c}</h5>
                                                <p class="card-text">{item.product.Product__r.FNA_Product_Summary__c}</p>
                                                <a href="#" name={index} data-id={item.product.Id}  >เพิ่มเติม <i class="fas fa-chevron-right icons" style="font-size: 0.8rem;"></i></a>
                                                <div class="tags">
                                                    <span>
                                                        <i class={item.cssTag} data-product-group={item.product.Product__r.FNA_Product_Group_TH__c} ></i> {item.product.Product__r.FNA_Product_Group_TH__c}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 noNormalProduct">
                            <div class={isBtn}>
                                <button name="moreProduct" onclick={moreProduct} type="button" class="btn btn-lg cta" id="viewall" data-toggle="collapse" data-target="#allprods" data-target-id="highlight-products" ><img data-id="iconBtnL" src={imageResource.more}/> {titleBtn} <img data-id="iconBtnR" src={imageResource.more}/></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <section class="main-content" if:false={isDownload}> -->
            <section class="main-content">
                <div class="container">
                    <div class="fab fixedMiddle" style="opacity: 1; display: block;">
                        <span class="fab-action-button">
                            <img src={b64} />
                        </span>
                        <ul class="fab-buttons">
                            <li class="fab-buttons__item">
                                <a href="javascript:void(0)" name="download" onclick={handleClick} class="fab-buttons__link" data-tooltip="Download Avatar" data-toggle="modal" data-target="#leadModal" data-backdrop="static" data-keyboard="false"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <!--Dialog-->
            <template if:true={bShowModal}>
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <template if:true={bShowModal1}>
                        <div class="slds-backdrop slds-backdrop_open" style="overflow-y: scroll;">
                            <div class="slds-modal__container">
                                <!-- modal header -->
                                <header class="modal-header" style="background: #007abc;color: #fff;padding: 1rem;">
                                    <h3 id="modal-heading-01" class="modal-title">ใส่หมายเลขมือถือเพื่อดาวน์โหลด Avatar</h3>
                                    <button type="button" class="close" name="close" onclick={closeModal} data-dismiss="modal" aria-label="Close">
                                        <i class="fas fa-times-circle"></i>
                                    </button>
                                </header>
                                <!-- modal body -->
                                <div class="slds-modal__content" id="modal-content-id-1">
                                    <div class="modal-body" style="min-height: 170px;" >
                                        <div class="form-group">
                                            <label class="label" >Mobile Number</label>
                                        </div>
                                        <input onkeypress={allowNumbersOnly} pattern="[0-9]*" class="phone" type="tel" value={phoneNumber} maxlength="10" data-id="phoneInput" id="phone" name="phone" placeholder="e.g. 0815581558"/>
                                        <p style="margin: 9px 0px;" class={errPhone}>หมายเลขที่คุณใส่ไม่ถูกต้อง</p>
                                    </div>
                                </div>
                                <!-- modal footer -->
                                <footer class="slds-modal__footer">
                                    <button class="btn btn-lg cta" name="next" onclick={next}>Next</button> 
                                </footer>
                            </div>
                        </div>
                    </template>
                    <template if:true={bShowModal2}>
                        <div class="slds-backdrop slds-backdrop_open" style="overflow-y: scroll;">
                            <div class="slds-modal__container">
                                <!-- modal header -->
                                <header class="slds-modal__header">
                                    <h5 id="modal-heading-04" class="slds-text-heading_medium slds-hyphenate" style="float: left; width: 15rem;">กรุณาระบุรหัส OTP ที่ได้รับ</h5>
                                    <button type="button" class="close" name="close" onclick={closeModal} data-dismiss="modal" aria-label="Close">
                                        <i class="fas fa-times-circle"></i>
                                    </button>
                                </header>
                                <!-- modal body -->
                                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-5">
                                    <div class="slds-align_absolute-center">
                                        <div class="row otpInput" id="otpInput" style="display: flex; padding-top: 20px; padding: 1rem;">
                                            <h4>กรุณากรอกรหัส OTP 6 หลักที่ระบบส่งให้ทาง SMS ของท่าน</h4>
                                            <p class="refCode">รหัสอ้างอิงของท่านคือ: {textRef}</p>
                                            <div class="otp">
                                            <input type="tel" class="form-control otp-input" maxlength="1" onkeypress={allowNumbersOnly} onkeyup={checkNext} name="input_1" data-id="otpInput_1">
                                            <input type="tel" class="form-control otp-input" maxlength="1" onkeypress={allowNumbersOnly} onkeyup={checkNext} name="input_2" data-id="otpInput_2">
                                            <input type="tel" class="form-control otp-input" maxlength="1" onkeypress={allowNumbersOnly} onkeyup={checkNext} name="input_3" data-id="otpInput_3">
                                            <input type="tel" class="form-control otp-input" maxlength="1" onkeypress={allowNumbersOnly} onkeyup={checkNext} name="input_4" data-id="otpInput_4">
                                            <input type="tel" class="form-control otp-input" maxlength="1" onkeypress={allowNumbersOnly} onkeyup={checkNext} name="input_5" data-id="otpInput_5">
                                            <input type="tel" class="form-control otp-input" maxlength="1" onkeypress={allowNumbersOnly} onkeyup={checkNext} name="input_6" data-id="otpInput_6"> 
                                            </div>
                                            <p class={err} >{textErr}</p>
                                            <span class={btnResetOTP} style="width: 100%;justify-content: center;">
                                                <a href="#" class="resetOTP" name="resetOTP" onclick={resetOTP} style="text-decoration: none;">
                                                  <span class="resetText">
                                                      รับรหัส OTP ใหม่
                                                  </span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- modal footer -->
                                <footer class="slds-modal__footer">
                                    <div class="slds-align_absolute-center" style="width:100%">
                                        <button class="btn btn-lg cta" data-id="btnSubmitOTP" name="submitOTP" onclick={checkNext}>ตกลง</button>
                                    </div> 
                                </footer>
                            </div>
                        </div>
                    </template>
                    <template if:true={bShowModal3}>
                        <div class="slds-backdrop slds-backdrop_open" style="overflow-y: scroll;">
                            <div class="slds-modal__container">
                                <!-- modal header -->
                                <header class="slds-modal__header"> 
                                    <h5 id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate" style="float: left;">ยืนยันสำเร็จ</h5>
                                    <button type="button" class="close" name="close" onclick={closeModal} data-dismiss="modal" aria-label="Close">
                                        <i class="fas fa-times-circle"></i>
                                    </button>
                                </header>
                                <!-- modal body -->
                                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-6">
                                    <div class="slds-align_absolute-center">
                                        <div class="success" style="text-align: center;">
                                            <!-- <i class="material-icons" style=" color: green; font-size: 4rem;">check_circle</i> -->
                                            <i class="fas fa-check-circle" style=" color: green; font-size: 4rem;"></i>
                                            <h3 class="slds-text-heading_medium slds-hyphenate" style="color: rgba(0, 0, 0, 0.966); font-family:helvethaicaX-thin,sans-serif;">ท่านจะได้รับ SMS เพื่อดาวน์โหลด Avatar</h3>
                                            <h3 class="slds-text-heading_medium slds-hyphenate" style="color: rgba(0, 0, 0, 0.966); font-family:helvethaicaX-thin,sans-serif;">ขอบคุณครับ</h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- modal footer -->
                                <footer class="slds-modal__footer">
                                    <div class="slds-align_absolute-center" style="width:100%">
                                        <button class="btn btn-lg cta" name="ok" onclick={closeModal}>OK</button>
                                    </div> 
                                </footer>
                            </div>
                        </div>
                    </template>
                </section>
            </template>
            <!--End Dialog-->
            
        </main>
    </div>
    
</template>