iframe {
    border: 0;
    width: 100%;
}

.slds-spinner_container {
    position: fixed;
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.hideBtn {
    display: none;
}
.showBtn {
    display: flex;
}

.hideLoading{
    display: none;
}

.showLoading{
    display: block;
}
main section.questions .products {
    padding-top: 105px;
}

section {
    overflow-y: scroll !important;
    overflow-x: hidden !important
}

@media (max-width: 1290px){
    main section.questions .products button.cta{
        margin-bottom: 2em;
    }
}

@media (max-width: 414px) and (min-width: 320px){
    main section.questions .products button.cta{
        white-space: normal;
        font-size: 1.5rem !important;
    }

    .noNormalProduct{
        margin-bottom: 13rem;
    }

    .questions .products h1 {
        font-size: 2rem !important;
        padding-top: 14px;
    }
    .questions .products h1 + h1 {
        font-size: 2rem !important;
        padding-top: 0px;
    }
}

main section.questions .products .card .card-body .card-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px;
}

@media (min-width: 1200px){
    main section.questions .products .card .card-body .card-text{
        font-size: 1.3rem;
        line-height: 1.5rem;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        height: 48px;
    }
}

@media (max-width: 767px) and (min-width: 414px){
    main section.questions .products button.cta{
        margin-bottom: 200px;
    }
}
@media (max-width: 767px) and (min-width: 320px){
    main section.questions .products{
        padding-top: 5px;
    }

    main section.questions .products .card .card-body .card-text {
        line-height: 1.5rem;
    }

    .questions .products h1 + h1 {
        font-size: 2.5rem !important;
        padding-top: 0px;
    }

    .fixedMiddle{
        position: fixed !important;
        left:0 !important;
        top: 50% !important;
        z-index: 2000 !important;
    }
}

/* main section.questions .sex .card .card-body .card-title, main section.questions .name .card .card-body .card-title, main section.questions .children .card .card-body .card-title, main section.questions .job .card .card-body .card-title, main section.questions .age .card .card-body .card-title, main section.questions .income-mo .card .card-body .card-title, main section.questions .income-yr .card .card-body .card-title, main section.questions .concentrate .card .card-body .card-title, main section.questions .mgmt .card .card-body .card-title, main section.questions .info .card .card-body .card-title, main section.questions .duration .card .card-body .card-title, main section.questions .cat .card .card-body .card-title, main section.questions .persona .card .card-body .card-title, main section.questions .products .card .card-body .card-title {
    font-family: "helvethaicaX-regular", sans-serif;
    font-size: 1.7rem;
    line-height: 1.5rem;
    padding-top: 2px;
    margin-top: -5px;
    display: block;
    height: 60px;
    white-space: normal;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
} */

@media (min-width: 992px) {
    main section.questions .sex .card .card-body .card-title, main section.questions .name .card .card-body .card-title, main section.questions .children .card .card-body .card-title, main section.questions .job .card .card-body .card-title, main section.questions .age .card .card-body .card-title, main section.questions .income-mo .card .card-body .card-title, main section.questions .income-yr .card .card-body .card-title, main section.questions .concentrate .card .card-body .card-title, main section.questions .mgmt .card .card-body .card-title, main section.questions .info .card .card-body .card-title, main section.questions .duration .card .card-body .card-title, main section.questions .cat .card .card-body .card-title, main section.questions .persona .card .card-body .card-title, main section.questions .products .card .card-body .card-title {
        font-family: "helvethaicaX-regular", sans-serif;
        font-size: 1.7rem;
        line-height: 1.5rem;
        padding-top: 2px;
        margin-top: -5px;
        display: block;
        height: 60px;
        white-space: normal;
        overflow-y: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

@media (min-width: 576px) and (max-width: 1199px){
    .iconCancel{
        text-align:center;
        margin-bottom: 6px !important;
    }


    .noNormalProduct{
        margin-bottom: 10rem;
    }
}

@media (min-width: 1200px){
    .iconCancel{
        text-align:center;
        margin-bottom: 8px !important;
    }
}

/* @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
} */
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
}

input::placeholder {
    font-size: 1.8rem;
    font-family: "helvethaicaX-light";
}

.secQuestion h1 + h1{
    color: #007abc;
    font-family: "helvethaicaX-bold", sans-serif;
}

main section.questions .products h1 + h1 {
    color: #007abc;
    font-family: "helvethaicaX-bold", sans-serif;
}

/*------------------------------------------------*/

nav {
    float: left;
    width: 30%;
}

article {
    float: left;
    width: 70%;
}

.btween{
    margin: 0 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
}

.exit{
    margin: 0 2rem 0 0;
    display: flex;
    justify-content: flex-end;
}

.download{
    margin: 0 0 0 2rem;
    display: flex;
    justify-content: flex-start;
}

.btnScroll, .btnNext{
    padding: 5px 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
}

.backButton{
    margin: 0 2rem;
}

.button{
    padding: 5px 30px;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 20px;
}

.iconColor{
    color: #2574a9;
}

.box_download{
    position: relative;
}

.absolute{
    position: absolute;
    z-index: 1;
}

.pd25{
    padding-right  : 50px; 
}

.transition{
    width: 56px;
    overflow: hidden;
    white-space: nowrap;
    transition: width 1s;
}

.transition.active{
    width: 200px;
}

.hide{
    display: none;
}
.show{
    display:block;
}

/*------------------------------------------------*/

.bta2 {
    border-radius: 40px;
    background-color: #007abc;
    padding: 3px 20px;
    color: white;
    border-bottom: 5px solid #035581;
    display: inline-block;
    position: relative;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: "helvethaicaX-bold", sans-serif;
}

.slds-modal__header {
    position: relative;
    border-bottom: 1px solid #e9ecef;
    background: #007abc;
    color: white;
    padding: 1rem;
}

.slds-modal__footer {
    justify-content: center;
    display: flex;
    /* -ms-flex-align: center; */
    align-items: center;
    /* -ms-flex-pack: end; */
    /* justify-content: flex-end; */
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.modal-dialog .modal-body form input {
    padding: 20px 10px;
    color: #333;
}
input::placeholder {
    font-size: 1.8rem;
    font-family: "helvethaicaX-light";
}
.inputInvalid {
    background: rgb(248, 215, 218);
}

input{
    font-size: 1.5rem;
    line-height: normal;
    width: 100%;
    padding: 10px 10px;
    color: #333;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.error {
    color: red;
    font-family: font-bold;
    display: none;
    /* font-size: 1.7rem; */
    text-align: center;
    line-height: 2.5rem;
    margin: 0;
}
button.cta {
    border-radius: 40px;
    background-color: #007abc;
    padding: 3px 20px;
    color: white;
    border-bottom: 5px solid #035581;
    display: inline-block;
    position: relative;
}
.label{
    display: inline-block;
    margin-bottom: .5rem;
    color: #000;
    font-size: 1.5rem;
    font-family: helvethaicaX-bold,sans-serif;
    float: left;
}
/* modal */

/* button download avatar */
main section.main-content .fab-action-button img {
    transform: scale(1.2);
    margin: 0px;
}

.refCode{
    font-family:"helvethaicaX-thin",sans-serif;
    font-size: 1.5rem;
}
/* modal download avatar */
.errorlog {
    color: red;
    font-size: 1.7rem;
    text-align: center;
    font-family: "helvethaicaX-bold",sans-serif;
    line-height: 2.5rem;
    margin: 0;
}
.successlog {
    color: green;
    font-size: 1.7rem;
    text-align: center;
    line-height: 2.5rem;
    margin: 0;
}
.inputInvalid {
    background: rgb(248, 215, 218) !important;
}
.otp{
    margin: 0 auto !important;
    padding: 3px 0 !important;
    display: block;
    width: 286px;
}
.otp-input{
    font-size: 2rem !important;
    font-family: "helvethaicaX-bold", sans-serif;
    padding: 0 10px !important;
    line-height: 0 !important;
    display: block;
    float: left;
    width: 42px;
    margin: 2px;
    text-align: center;		
}
.slds-media__header{
    font-family: "helvethaicaX-bold", sans-serif;
    font-size: 3.5rem; 
    margin: 0; 
    line-height: 4rem;
}
.close4{
    padding: 0px;
    background-color: transparent;
    color: #000;
    border: 0;
    opacity: 1;
    float: right;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.otpInput p{
    width: 100%;
    margin: auto auto;
    padding: 0px;
    text-align: center;
}
h3{
    font-size: 1.75rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-family: "helvethaicaX-bold", sans-serif;
}
h4 {
    font-family: "helvethaicaX-bold", sans-serif;
    width: 100%;
    font-size: 1.5rem;
    margin: -20px auto auto;
    padding: 0;
    text-align: center;
    color: black;
}
h5 {
    font-family: "helvethaicaX-bold", sans-serif;
    font-size: 1.75rem;
    padding: 5px 10px 0 0;
    margin: 0;
    display: inline;
}
.bta2 {
    font-family: "helvethaicaX-bold", sans-serif;
    border-radius: 40px;
    background-color: #007abc;
    padding: 3px 20px;
    color: white;
    border-bottom: 5px solid #035581;
    display: inline-block;
    position: relative;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 2rem;
}

main section.questions{
    left: 0;
    right: 0;
    background: rgb(226, 244, 253);
}

/* header .topbar {
    text-align: center;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    z-index: 100 !important;
    left: 0;
    right: 0;
    background: rgb(226, 244, 253);
} */

.slds-modal__container {
    z-index: 200 !important;
    margin: 0 auto;
    width: 96%;
    height: 500px;
}

@media (max-width: 1100px) and (min-width: 768px){
    .slds-modal__container {
        z-index: 200 !important;
        margin: -4em auto;
        width: 96%;
        height: 500px;
    }
}

@media (max-width: 767px) and (min-width: 320px){
    .slds-modal__container{
        z-index: 200 !important;
        margin: 0 auto;
        height: 440px;
    }
}

@media (max-width: 575px){
    /* .iconCancel{
        text-align:center;
    } */
    /* .topbar a {
        border: none !important;
        background: white;
    } */
    /* .cta {
        padding: 8px 8px;
    } */
}

@media (max-width: 767px) and (min-width: 320px){
    /* .logo {
        transform: scale(0.7);
        margin-right: -27px !important;
    } */
}

.resetOTP {
    background: #007abc;
    /* margin-top: 18px; */
    padding: 0px 10px;
    border-radius: 20px;
}

.resetText {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
}
/* modal download avatar */

  header .unsupported, header .orientation {
    display: none;
  }
  
  header .unsupported img, header .orientation img {
    margin: 30px 110px 0;
  }
  
  header .unsupported h2, header .orientation h2 {
    line-height: 2rem;
    font-weight: bold !important;
    padding: 0 30px;
    position: relative;
    top: 20px;
    text-align: center;
    color: #666;
  }

  main section.main-content .fab {
    position: fixed;
    width: 56px;
    left: 20px;
    z-index: 2000;
  }

  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.card:hover .icons {
    animation: slide-right 0.5s ease-in forwards;
    -webkit-animation: slide-right 0.5s ease-in forwards;
    -moz-animation: slide-right 0.5s ease-in forwards;
    -o-animation: slide-right 0.5s ease-in forwards;
}

/* .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: normal !important;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
} */

/* styles for '...' */ 
/* .block-with-text {
    overflow: hidden;
    position: relative; 
    line-height: 1.3em;
    max-height: 2.5em; 
    text-align: justify;
    margin-right: 0em;
    padding-right: 1em;
    font-size: 1.2rem;
  }
  .block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  } */